flows/ADM_RTS_Created_Date_Update_on_Opportunity-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignMinDate</name>
        <label>AssignMinDate</label>
        <locationX>333</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>MinDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTSloopVariable.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRTS</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ADMRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120L00000068Ey</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Find_Min_Date</name>
        <label>Find Min Date</label>
        <locationX>331</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>LoopRTS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Min_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RTSloopVariable.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MinDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MinDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignMinDate</targetReference>
            </connector>
            <label>Min Date</label>
        </rules>
    </decisions>
    <interviewLabel>ADM RTS Created Date Update on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADM RTS Created Date Update on Opportunity</label>
    <loops>
        <name>LoopRTS</name>
        <label>LoopRTS</label>
        <locationX>139</locationX>
        <locationY>222</locationY>
        <assignNextValueToReference>RTSloopVariable</assignNextValueToReference>
        <collectionReference>VarRTSCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Min_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OpportuntiyRTSDateUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RTS_Request</name>
        <label>RTS_Request</label>
        <locationX>140</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRTS</targetReference>
        </connector>
        <filters>
            <field>OpportunityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityId</elementReference>
            </value>
        </filters>
        <object>RTS_Request__c</object>
        <outputReference>VarRTSCollection</outputReference>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>OpportunityName__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>OpportuntiyRTSDateUpdate</name>
        <label>OpportuntiyRTSDateUpdate</label>
        <locationX>135</locationX>
        <locationY>342</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADMRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADM_RTS_Date__c</field>
            <value>
                <elementReference>MinDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>RTS_Request</startElementReference>
    <variables>
        <name>MinDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTSloopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTS_Request__c</objectType>
    </variables>
    <variables>
        <name>VarOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All RTS related to Opportunity</description>
        <name>VarRTSCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RTS_Request__c</objectType>
    </variables>
</Flow>
