flows/C2S_Manual_Lead_Entry-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_default_address_value</name>
        <label>Assign default address value</label>
        <locationX>137</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Owner_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_null_values</name>
        <label>Assign null values</label>
        <locationX>153</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>varContactOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNetworkIDContactOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_account_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_for_account_name</name>
        <label>Assign Value for account name</label>
        <locationX>158</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_empty</name>
        <label>Address empty</label>
        <locationX>398</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Street_or_city_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_default_address_value</targetReference>
            </connector>
            <label>Street or city blank</label>
        </rules>
        <rules>
            <name>Adress_filled_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Owner_details</targetReference>
            </connector>
            <label>Adress filled in</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_account</name>
        <label>Check account</label>
        <locationX>158</locationX>
        <locationY>849</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>Account exists</label>
        </rules>
        <rules>
            <name>No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_for_account_name</targetReference>
            </connector>
            <label>No Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inactive_Users</name>
        <label>Check Inactive Users</label>
        <locationX>404</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Lookup_account_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active User</defaultConnectorLabel>
        <rules>
            <name>User_Inactive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccOwnerActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_null_values</targetReference>
            </connector>
            <label>User Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profiles</name>
        <label>Check Profiles</label>
        <locationX>403</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>Assign_null_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not DND or APL</defaultConnectorLabel>
        <rules>
            <name>Contact_Owner_IND</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000sJvl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000sHgv</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000sHea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000afKa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000afKV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000afKf</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000lsks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000p6Io</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactOwnerProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eE0000000VFvY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Inactive_Users</targetReference>
            </connector>
            <label>Contact Owner IND</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists</label>
        <locationX>395</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_empty</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
        <rules>
            <name>contact_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateManualLead</targetReference>
            </connector>
            <label>contact does not exist</label>
        </rules>
    </decisions>
    <interviewLabel>C2S Manual Lead Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>C2S Manual Lead Entry</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>407</locationX>
        <locationY>1007</locationY>
        <assignRecordIdToReference>varLeadID</assignRecordIdToReference>
        <connector>
            <targetReference>Lead_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ASSIGNEE_NETWORK_ID__c</field>
            <value>
                <elementReference>varNetworkIDContactOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Enter_Lead_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>varPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>UQL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012E0000000RbXw</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>varSalutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggested_Lead_Owner__c</field>
            <value>
                <elementReference>varContactOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X18_Digit_ID__c</field>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_Owner_details</name>
        <label>Contact Owner details</label>
        <locationX>401</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Profiles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactOwner</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varContactOwnerActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactOwnerProfileID</assignToReference>
            <field>Profile_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNetworkIDContactOwner</assignToReference>
            <field>Te_Network_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_account_name</name>
        <label>Lookup account name</label>
        <locationX>408</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>393</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Lead_Email_Address</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSalutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CreateManualLead</name>
        <label>CreateManualLead</label>
        <locationX>646</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateManual</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;The email address you have entered does not belong to any existing contact in Salesforce that you have access to.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please click the link below to be directed to the Lead screen. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;https://c2s.my.salesforce.com/00Q/e?retURL=%2F00Q%2Fo&amp;RecordType=012E0000000RbXw&amp;ent=Lead&amp;lea11={!Enter_Lead_Email_Address}&quot; TARGET=&quot;&quot;&gt;Click me&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;IMPORTANT: Please remember to check the box &amp;apos;Lead info completed&amp;apos; on the new lead record once all information has been entered. If you don&amp;apos;t do that, the lead will not follow the correct lead processes and will not be assigned to a sales person.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>159</locationX>
        <locationY>1153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errormessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Email</name>
        <label>Input Email</label>
        <locationX>392</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
        <fields>
            <name>Enter_Lead_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Please enter the email address of the new Lead</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX ( UPPER ( {!Enter_Lead_Email_Address}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Created</name>
        <label>Lead Created</label>
        <locationX>408</locationX>
        <locationY>1150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadCreated</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;A contact with the same email address already exists in Salesforce. A new lead has been created with pre-filled information. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please click the below link to open the lead and complete the information.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;
https://c2s.my.salesforce.com/{!varLeadID}/e?retURL=%2F00Q%2Fo&quot; TARGET=&quot;&quot;&gt;Click me for the new lead&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;IMPORTANT: Please remember to check the box &amp;apos;Lead info completed&amp;apos; on the new lead record once all information has been entered. If you don&amp;apos;t do that, the lead will not follow the Industrial lead process and will not be assigned to a sales person.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Input_Email</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccOwnerActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactOwnerActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactOwnerProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNetworkIDContactOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTEISAdminID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTENetworkIDAccOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
