flows/Coaching_Sharing-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Records_exist</name>
        <label>Records exist ?</label>
        <locationX>424</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Records_do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcSharing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Sharing</targetReference>
            </connector>
            <label>Records do exist</label>
        </rules>
        <rules>
            <name>Records_do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcSharing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_sharing</targetReference>
            </connector>
            <label>Records do not exist</label>
        </rules>
    </decisions>
    <interviewLabel>Coaching Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coaching Sharing</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_share</name>
        <label>create share</label>
        <locationX>423</locationX>
        <locationY>554</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCoachRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Coaching_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varParticipantID</elementReference>
            </value>
        </inputAssignments>
        <object>Coaching__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_sharing</name>
        <label>Create sharing</label>
        <locationX>418</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>create_share</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCoachRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Coaching_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varCoachID</elementReference>
            </value>
        </inputAssignments>
        <object>Coaching__Share</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Sharing</name>
        <label>Delete Sharing</label>
        <locationX>233</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Create_sharing</targetReference>
        </connector>
        <inputReference>varcSharing</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_all_sharing</name>
        <label>Lookup all sharing</label>
        <locationX>421</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_exist</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCoachRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coaching_Sharing__c</stringValue>
            </value>
        </filters>
        <object>Coaching__Share</object>
        <outputReference>varcSharing</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_all_sharing</startElementReference>
    <variables>
        <name>varCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCoachRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varcSharing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Coaching__Share</objectType>
    </variables>
    <variables>
        <name>varParticipantID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
