flows/Contract_Review_2-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>820</locationX>
        <locationY>1099</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Review_Update_Finished</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>544</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>varNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Notes_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_2</name>
        <label>assign</label>
        <locationX>814</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>varNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Green</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_3</name>
        <label>Assign</label>
        <locationX>553</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>varNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_of_Life_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End of Life</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Finish_review_actions_do_not_send_for_cancellation_approval</name>
        <choiceText>Finish review actions - do not send for cancellation approval</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Send_for_cancellation_approval</name>
        <choiceText>Send for cancellation approval</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>conBlankLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt; &lt;/br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Action_Type</name>
        <label>Check Action Type</label>
        <locationX>505</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Regular_Review_no_end_date_can_be_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCancellationTerm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_or_continue</targetReference>
            </connector>
            <label>Regular Review no end date can be cancelled</label>
        </rules>
        <rules>
            <name>End_of_Life</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End of Life</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOL_Screen</targetReference>
            </connector>
            <label>End of Life</label>
        </rules>
        <rules>
            <name>All_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Green</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCancellationTerm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Notes_and_Review_Date</targetReference>
            </connector>
            <label>All Green</label>
        </rules>
        <rules>
            <name>Regular_review_with_end_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Notes_and_Review_Date</targetReference>
            </connector>
            <label>Regular review with end date</label>
        </rules>
        <rules>
            <name>Regular_Review_no_end_date_no_cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCancellationTerm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Notes_and_Review_Date</targetReference>
            </connector>
            <label>Regular Review no end date no cancellation</label>
        </rules>
        <rules>
            <name>All_Green_with_cancellation_term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Green</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCancellationTerm</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_or_continue</targetReference>
            </connector>
            <label>All Green with cancellation term</label>
        </rules>
        <rules>
            <name>Auto_renewal_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_or_continue</targetReference>
            </connector>
            <label>Auto renewal Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>815</locationX>
        <locationY>979</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_for_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active - Pending Termination Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Send for approval</label>
        </rules>
        <rules>
            <name>Do_not_send_for_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active - Pending Termination Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Update_Finished</targetReference>
            </connector>
            <label>Do not send for approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expired</name>
        <label>Check Expired</label>
        <locationX>1007</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>assign_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isexpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_0</targetReference>
            </connector>
            <label>isexpired</label>
        </rules>
    </decisions>
    <decisions>
        <name>choice_continue_or_cancel</name>
        <label>choice continue or cancel</label>
        <locationX>344</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_for_cancellation_approval</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancellation_Status</targetReference>
            </connector>
            <label>cancel</label>
        </rules>
        <rules>
            <name>continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finish_review_actions_do_not_send_for_cancellation_approval</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Notes_and_Review_Date</targetReference>
            </connector>
            <label>continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_in_approval</name>
        <label>is in approval</label>
        <locationX>355</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>inapproval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>in_Approval</targetReference>
            </connector>
            <label>inapproval</label>
        </rules>
        <rules>
            <name>notinapproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_Owner</targetReference>
            </connector>
            <label>notinapproval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_on_edit</name>
        <label>Status on edit ?</label>
        <locationX>708</locationX>
        <locationY>31</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_is_edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Action_Type</targetReference>
            </connector>
            <label>Status is edit</label>
        </rules>
        <rules>
            <name>Status_is_not_edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admin Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Status is not edit</label>
        </rules>
    </decisions>
    <formulas>
        <name>forStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!varActionStatus} ,
&apos;Cancellation Check&apos;, &apos;Active - Pending Termination Approval&apos;,
&apos;Active&apos;)</expression>
    </formulas>
    <interviewLabel>Contract Review_2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Review_2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>812</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAccountOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Review Comment</stringValue>
            </value>
        </inputAssignments>
        <object>Note</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account_Owner</name>
        <label>Lookup Account Owner</label>
        <locationX>507</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_on_edit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contract_Record</name>
        <label>Lookup Contract Record</label>
        <locationX>182</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_in_approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <object>IND_Contract__c</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varActionStatus</assignToReference>
            <field>Action_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCancellationTerm</assignToReference>
            <field>Cancel_Contract_XX_days_before_renewal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractEndDate</assignToReference>
            <field>Contract_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractStatus</assignToReference>
            <field>Contract_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDatefornextReview</assignToReference>
            <field>Date_for_next_review__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cancellation_Status</name>
        <label>Update Cancellation Status</label>
        <locationX>353</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Enter_Notes_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Active - Pending Termination Approval</stringValue>
            </value>
        </inputAssignments>
        <object>IND_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>813</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Status__c</field>
            <value>
                <elementReference>varActionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_for_next_review__c</field>
            <value>
                <elementReference>Date_for_next_review</elementReference>
            </value>
        </inputAssignments>
        <object>IND_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_0</name>
        <label>Update Contract</label>
        <locationX>1060</locationX>
        <locationY>556</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Status__c</field>
            <value>
                <stringValue>End of Life</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_for_next_review__c</field>
        </inputAssignments>
        <object>IND_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>696</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Check_Action_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Admin Edit</stringValue>
            </value>
        </inputAssignments>
        <object>IND_Contract__c</object>
    </recordUpdates>
    <screens>
        <name>Cancel_or_continue</name>
        <label>Cancel or continue</label>
        <locationX>342</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>choice_continue_or_cancel</targetReference>
        </connector>
        <fields>
            <name>nextaction</name>
            <choiceReferences>Send_for_cancellation_approval</choiceReferences>
            <choiceReferences>Finish_review_actions_do_not_send_for_cancellation_approval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;What is your next action for this contract ?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Notes_and_Review_Date</name>
        <label>Enter Notes and Review Date</label>
        <locationX>813</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Expired</targetReference>
        </connector>
        <fields>
            <name>RegularReviewNotes</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This contract is due for regular review.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter a note in the below section and click &amp;apos;save&amp;apos;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;By saving, you confirm that you have done all necessary actions for this contract review.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldText>{!conBlankLine}{!conBlankLine}{!conBlankLine}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Notes</name>
            <fieldText>Review Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldText>{!conBlankLine}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_for_next_review</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varDatefornextReview</elementReference>
            </defaultValue>
            <fieldText>Date for next review</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blankline</name>
            <fieldText>{!conBlankLine}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>expired</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;If this contract is no longer active from today, please check this box and the contract will be set to &amp;apos;expired&amp;apos;. Otherwise leave unchecked.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Notes_Only</name>
        <label>Enter Notes Only</label>
        <locationX>356</locationX>
        <locationY>671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>NotesCancellation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have chosen to cancel this contract.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter a comment in the below box.{!conBlankLine}&lt;FONT KERNING=&quot;1&quot;&gt;{!conBlankLine}{!conBlankLine}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Notes_2</name>
            <fieldText>Review Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EOL_Screen</name>
        <label>EOL Screen</label>
        <locationX>525</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_3</targetReference>
        </connector>
        <fields>
            <name>EOLNote</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This contract has reached end of life and will be set to &amp;apos;Expired&amp;apos;.{!conBlankLine}{!conBlankLine}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter a comment in the below text box.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>End_of_Life_Comment</name>
            <fieldText>End of Life Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>in_Approval</name>
        <label>in Approval</label>
        <locationX>246</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approval</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This contract is currently in approval for the next contractual runtime period or cancellation approval.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are not allowed to change anything until the contract is approved or rejected.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Update_Finished</name>
        <label>Review Update Finished</label>
        <locationX>1023</locationX>
        <locationY>972</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Reviewdone</name>
            <fieldText>Your contract record has been updated.

Please close this window now and refresh the browser page with your contract.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Contract_Record</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCancellationTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDatefornextReview</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
