flows/Email_Notifications_to_community_users-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_email_alert</name>
        <label>Reminder email alert</label>
        <locationX>575</locationX>
        <locationY>239</locationY>
        <actionName>User.Channel_Portal_Login_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_all_the_portal_users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>commuser.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Count_30_days_users</name>
        <label>Count 30 days users</label>
        <locationX>310</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>UserCount30days</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reminder_email_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_45_days_users</name>
        <label>count 45 days users</label>
        <locationX>436</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>UserCount45days</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reminder_email_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_current_user_login_date</name>
        <label>get current user login date</label>
        <locationX>288</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>userlogindate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertdatetimetodate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_30_or_45_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_30_or_45_days</name>
        <label>Check for 30 or 45 days</label>
        <locationX>374</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Get_all_the_portal_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X30days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>userlogindate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x30daysless</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_30_days_users</targetReference>
            </connector>
            <label>30days</label>
        </rules>
        <rules>
            <name>X45days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userlogindate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x45DaysLess</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_45_days_users</targetReference>
            </connector>
            <label>45days</label>
        </rules>
    </decisions>
    <formulas>
        <name>convertdatetimetodate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!commuser.LastLoginDate})</expression>
    </formulas>
    <formulas>
        <name>emailsfromlabels</name>
        <dataType>String</dataType>
        <expression>{!$Label.Portal_Admin_Emails}</expression>
    </formulas>
    <formulas>
        <name>flowerror</name>
        <dataType>String</dataType>
        <expression>&quot;Error: &quot;+{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>thirtydaysfromnow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>x30daysless</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <formulas>
        <name>x30daysless_DATETIME</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-30</expression>
    </formulas>
    <formulas>
        <name>x30daysless_text</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(DATEVALUE({!x30daysless_DATETIME})))&amp;&apos;/&apos;&amp;TEXT(DAY(DATEVALUE({!x30daysless_DATETIME})))&amp;&apos;/&apos;&amp;TEXT(YEAR(DATEVALUE({!x30daysless_DATETIME})))</expression>
    </formulas>
    <formulas>
        <name>x45DaysLess</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-45</expression>
    </formulas>
    <interviewLabel>Email Notifications to community users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Notifications to community users</label>
    <loops>
        <name>Get_all_the_portal_users</name>
        <label>Get all the portal users</label>
        <locationX>368</locationX>
        <locationY>86</locationY>
        <assignNextValueToReference>commuser</assignNextValueToReference>
        <collectionReference>communityusers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_current_user_login_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Log_completion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_completion</name>
        <label>Log Completion</label>
        <locationX>583</locationX>
        <locationY>87</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>&quot;Email Notifications to community users&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <elementReference>flowlog</elementReference>
            </value>
        </inputAssignments>
        <object>Flows_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>107</locationX>
        <locationY>203</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>&quot;Email Notifications to community users&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Flows_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Log_Error_0</name>
        <label>Log Error</label>
        <locationX>585</locationX>
        <locationY>370</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>&quot;Email Notifications to community users&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Flows_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>find_community_users</name>
        <label>find community users</label>
        <locationX>106</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_the_portal_users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>x30daysless_DATETIME</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>communityusers</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastLoginDate</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>find_community_users</startElementReference>
    <textTemplates>
        <name>flowlog</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;The users count that didnt log in for 30 days: &lt;FONT COLOR=&quot;#FF0066&quot;&gt;&lt;B&gt;{!UserCount30days}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;The users count that didnt log in for 45 days: &lt;FONT COLOR=&quot;#993366&quot;&gt;&lt;B&gt;{!UserCount45days}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Check the report for the user: &lt;FONT KERNING=&quot;0&quot;&gt;https://c2s.my.salesforce.com/00O0L000003GTOl?pv0=&lt;/FONT&gt;{!x30daysless_text}&lt;FONT KERNING=&quot;0&quot;&gt;&amp;amp;pv1=&lt;/FONT&gt;{!x30daysless_text}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>loginbody</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dear User,&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You havent logged in for more than 30 days, Please login&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Regards,&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;TE Admin&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Loginsubject</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;TE: You haven&amp;apos;t logged in for 30 days&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>AdminEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Community_user_login_notification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Community user login notification</stringValue>
        </value>
    </variables>
    <variables>
        <description>this is for communty users</description>
        <name>communityusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>commuser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailaddressescommaseperated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailtemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>tempemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>prabhanjan.nandyala@te.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserCount30days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserCount45days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>userlogindate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
