flows/IND_set_opportunity_won_dates-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Conditions for G3</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>Conditions for Won Date Production</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Conditions for lost</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_pmetdec</targetReference>
            </connector>
            <label>Conditions for re-opened</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1000</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_10_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_10_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_10_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision3</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_4_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Took out old IND record types</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Won_Date_G3_Reporting_c</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_Won_Date_c</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_IND_Lost_Date_c</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
OR(
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Open&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL([Opportunity].StageName, &apos;Commit&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;)
),
ISBLANK([Opportunity].Won_Date_G3_Reporting__c)
)
)


</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
OR(
AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;
),
OR(
ISPICKVAL({!myVariable_current.StageName}, &apos;Won - Open&apos;),
ISPICKVAL({!myVariable_current.StageName}, &apos;Won&apos;)
)
),
AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL({!myVariable_current.StageName}, &apos;Commit&apos;)
)
),
AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL({!myVariable_current.StageName}, &apos;Won - Closed&apos;),
ISPICKVAL({!myVariable_current.StageName}, &apos;Production&apos;)
),
ISBLANK({!myVariable_current.Won_Date_G3_Reporting__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Pipeline&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Best Case&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Commit&apos;)
)
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Pipeline&apos;),
ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Best Case&apos;),
ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Commit&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Pipeline&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Best Case&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Commit&apos;)
)
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Pipeline&apos;),
ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Best Case&apos;),
ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Commit&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
OR(
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Open&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL([Opportunity].StageName, &apos;Commit&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;)
),
ISBLANK([Opportunity].Won_Date_G3_Reporting__c)
)
)


</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
OR(
AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;
),
OR(
ISPICKVAL({!myVariable_old.StageName}, &apos;Won - Open&apos;),
ISPICKVAL({!myVariable_old.StageName}, &apos;Won&apos;)
)
),
AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL({!myVariable_old.StageName}, &apos;Commit&apos;)
)
),
AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL({!myVariable_old.StageName}, &apos;Won - Closed&apos;),
ISPICKVAL({!myVariable_old.StageName}, &apos;Production&apos;)
),
ISBLANK({!myVariable_old.Won_Date_G3_Reporting__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
), 
OR(
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;)
)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
), 
OR(
ISPICKVAL({!myVariable_current.StageName}, &apos;Production&apos;),
ISPICKVAL({!myVariable_current.StageName}, &apos;Won - Closed&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
), 
OR(
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;)
)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
), 
OR(
ISPICKVAL({!myVariable_old.StageName}, &apos;Production&apos;),
ISPICKVAL({!myVariable_old.StageName}, &apos;Won - Closed&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Omitted&apos;)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Omitted&apos;)


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Omitted&apos;)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Omitted&apos;)


)</expression>
    </formulas>
    <interviewLabel>IND_set_opportunity_won_dates-3_InterviewLabel</interviewLabel>
    <label>IND set opportunity won dates</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Delete all dates</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date G3 Reporting</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date_G3_Reporting__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update G3 Won date</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date G3 Reporting</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date_G3_Reporting__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Won_Date_G3_Reporting_c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update Won date (Production)</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_Won_Date_c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Delete won dates and set lost dates</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_IND_Lost_Date_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date G3 Reporting</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date_G3_Reporting__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
