flows/IND_CCAO_Default_Opportunity_Team-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_to_collection_0_1</name>
        <label>add to collection</label>
        <locationX>998</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0_1_1</name>
        <label>add to collection</label>
        <locationX>1472</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Acct_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_list</name>
        <label>add to collection list</label>
        <locationX>716</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Asia_and_India_Pricing</name>
        <label>assign Asia and India Pricing</label>
        <locationX>1070</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varCCAOPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCAO PRC AP AC_RAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>look_up_regional_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_EMEA_Pricing</name>
        <label>assign EMEA Pricing</label>
        <locationX>1070</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>varCCAOPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCAO PRC EMEA AC_RAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>look_up_regional_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IB_Pricing</name>
        <label>Assign IB Pricing</label>
        <locationX>1075</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>varCCAOPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCAO PRC IB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>look_up_regional_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_opp_team_list</name>
        <label>Assign to opp team list</label>
        <locationX>717</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoop2.Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoop2.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_US_Pricing</name>
        <label>assign US Pricing</label>
        <locationX>1074</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>varCCAOPricing</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCAO PRC US AC_RAIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>look_up_regional_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>815</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Care Professional</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment</label>
        <locationX>1473</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0_1_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_linked</name>
        <label>Check Account linked</label>
        <locationX>97</locationX>
        <locationY>165</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account</targetReference>
            </connector>
            <label>Account linked</label>
        </rules>
        <rules>
            <name>account_not_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>account not linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Billing_Country_and_region</name>
        <label>Check Billing Country and region</label>
        <locationX>885</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_US_Pricing</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_EMEA_Pricing</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>Asia_and_India</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rest of APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Asia_and_India_Pricing</targetReference>
            </connector>
            <label>Asia and India</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_CBC_3</name>
        <label>check CBC 3</label>
        <locationX>689</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_IB_CA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varloopOppParts.CBC_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>13747</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopOppParts.CBC_3_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30018</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IB_Pricing</targetReference>
            </connector>
            <label>Is IB CA</label>
        </rules>
        <rules>
            <name>Is_not_IB_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varloopOppParts.CBC_3_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>30018</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopOppParts.CBC_3_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>13747</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_CBC3</targetReference>
            </connector>
            <label>Is not IB CA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CC_exists_0</name>
        <label>Check CC exists</label>
        <locationX>1230</locationX>
        <locationY>592</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CC_exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_user_license</targetReference>
            </connector>
            <label>CC exists</label>
        </rules>
        <rules>
            <name>CC_does_not_exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_Team_Member</targetReference>
            </connector>
            <label>CC does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pricing_exists_1</name>
        <label>Check Pricing exists</label>
        <locationX>1481</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Pricing_exists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Pricing exists</label>
        </rules>
        <rules>
            <name>Pricing_does_not_exist_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Acct_Team_Member</targetReference>
            </connector>
            <label>Pricing does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Salesforce_user_license</name>
        <label>Check Salesforce user license</label>
        <locationX>812</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Salesforce_license</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserLicenseName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment</targetReference>
            </connector>
            <label>Is Salesforce license</label>
        </rules>
        <rules>
            <name>Is_Not_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserLicenseName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_Team_Member</targetReference>
            </connector>
            <label>Is Not Salesforce</label>
        </rules>
    </decisions>
    <interviewLabel>IND CCAO Default Opportunity Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND CCAO Default Opportunity Team</label>
    <loops>
        <name>loop_through_CBC3</name>
        <label>loop through CBC3</label>
        <locationX>684</locationX>
        <locationY>426</locationY>
        <assignNextValueToReference>varloopOppParts</assignNextValueToReference>
        <collectionReference>colOppParts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_CBC_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Billing_Country_and_region</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Custom_Setting</name>
        <label>Loop Through Custom Setting</label>
        <locationX>509</locationX>
        <locationY>163</locationY>
        <assignNextValueToReference>varLoop2</assignNextValueToReference>
        <collectionReference>varcCustomSetting2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_opp_team_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_account_ID_on_opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Team_Member</name>
        <label>Create Opp Team Member</label>
        <locationX>1237</locationX>
        <locationY>718</locationY>
        <inputReference>varscOppTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>look_up_regional_Pricing</name>
        <label>look up regional Pricing</label>
        <locationX>1273</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pricing_exists_1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCCAOPricing</elementReference>
            </value>
        </filters>
        <object>IND_Opp_Default_Team__c</object>
        <outputAssignments>
            <assignToReference>varTeamMemberId</assignToReference>
            <field>User_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>95</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opp_Parts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varINDBillRegion</assignToReference>
            <field>IND_Billing_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccTerrL2</assignToReference>
            <field>Territory_L2_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_account_ID_on_opp</name>
        <label>Lookup account ID on opp</label>
        <locationX>310</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_linked</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Custom_Setting</name>
        <label>Lookup Custom Setting</label>
        <locationX>518</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Custom_Setting</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CCAO DEFAULT</stringValue>
            </value>
        </filters>
        <object>IND_Opp_Default_Team__c</object>
        <outputReference>varcCustomSetting2</outputReference>
        <queriedFields>Team_Role__c</queriedFields>
        <queriedFields>User_Name__c</queriedFields>
        <queriedFields>User_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Parts</name>
        <label>Lookup Opp Parts</label>
        <locationX>94</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_CBC3</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Part__c</object>
        <outputReference>colOppParts</outputReference>
        <queriedFields>CBC_3_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_user_license</name>
        <label>Lookup user license</label>
        <locationX>983</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Salesforce_user_license</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamMemberId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserLicenseName</assignToReference>
            <field>User_License_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Custom_Setting</startElementReference>
    <subflows>
        <name>Lookup_Acct_Team_Member</name>
        <label>Lookup Acct Team Member</label>
        <locationX>1230</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>Check_CC_exists_0</targetReference>
        </connector>
        <flowName>IND_Look_Up_Account_Team_Member</flowName>
        <inputAssignments>
            <name>varRecordTypeName</name>
            <value>
                <stringValue>SFDC_User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varAccID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAcctTeamRole</name>
            <value>
                <stringValue>Customer Service Rep (CSR)</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamMemberId</assignToReference>
            <name>varTeamMemberId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varAccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccTerrL2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCCAOPricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varcCustomSetting2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>varcOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varINDBillRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoop2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>varloopOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varscOppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varsOppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserLicenseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
