flows/IND_Intercontec_Default_Opportunity_Team-13.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>661</locationX>
        <locationY>366</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error IC Default Opp Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>michael_ludwig@te.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>24</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_empty_values_or_TEIS_Admin_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0</name>
        <label>add to collection</label>
        <locationX>405</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_empty_values_or_TEIS_Admin_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0_0</name>
        <label>add to collection</label>
        <locationX>234</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Prod_Hierarchy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0_1</name>
        <label>add to collection</label>
        <locationX>889</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0_1_1</name>
        <label>add to collection</label>
        <locationX>1485</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_default_team_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0_1_1_0</name>
        <label>add to collection</label>
        <locationX>1205</locationX>
        <locationY>1194</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_default_team_members_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_list</name>
        <label>add to collection list</label>
        <locationX>716</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Asia_and_India</name>
        <label>assign Asia and India</label>
        <locationX>1080</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IC IS INDIA ASIA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_regional_CSRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSR_Region</name>
        <label>Assign CSR Region</label>
        <locationX>1404</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IC CSR US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_regional_CSRs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSR_Region_2</name>
        <label>Assign CSR Region</label>
        <locationX>1551</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IC CSR EMEA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_regional_CSRs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_EMEA_and_US</name>
        <label>assign EMEA and US</label>
        <locationX>1077</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IC IS EMEA US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_regional_CSRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_inside_sales_DE</name>
        <label>assign inside sales DE</label>
        <locationX>1074</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IC IS DE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_regional_CSRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_inside_sales_JP_and_KR</name>
        <label>assign inside sales JP and KR</label>
        <locationX>1076</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IC IS JP_KR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_regional_CSRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_EMEA</name>
        <label>Assign PM EMEA</label>
        <locationX>405</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varloopProdHier.Regional_PM_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_Global</name>
        <label>Assign PM Global</label>
        <locationX>239</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varloopProdHier.Global_PM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_US</name>
        <label>Assign PM US</label>
        <locationX>23</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varloopProdHier.Regional_PM_US__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_opp_team_list</name>
        <label>Assign to opp team list</label>
        <locationX>717</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoop2.Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoop2.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>1069</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTeamMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Care Professional</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment</label>
        <locationX>1648</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDefaultOppTeam.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inside Sales Intercontec</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1_0</name>
        <label>Assignment</label>
        <locationX>1384</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDefaultOppTeam.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Care Professional</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0_1_1_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_linked</name>
        <label>Check Account linked</label>
        <locationX>691</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account</targetReference>
            </connector>
            <label>Account linked</label>
        </rules>
        <rules>
            <name>account_not_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>account not linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Billing_Country_and_region</name>
        <label>Check Billing Country and region</label>
        <locationX>884</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_inside_sales_DE</targetReference>
            </connector>
            <label>is DE</label>
        </rules>
        <rules>
            <name>not_DE_but_EMEA_or_US</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varBillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_EMEA_and_US</targetReference>
            </connector>
            <label>not DE but EMEA or US</label>
        </rules>
        <rules>
            <name>Asia_and_India</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rest of APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Asia_and_India</targetReference>
            </connector>
            <label>Asia and India</label>
        </rules>
        <rules>
            <name>Japan_and_Korea</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varBillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_inside_sales_JP_and_KR</targetReference>
            </connector>
            <label>Japan and Korea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CC_exists</name>
        <label>Check CC exists</label>
        <locationX>1370</locationX>
        <locationY>932</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CC_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjDefaultOppTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_default_team_members_0</targetReference>
            </connector>
            <label>CC exists</label>
        </rules>
        <rules>
            <name>CC_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_Team_Member</targetReference>
            </connector>
            <label>CC does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CC_exists_0</name>
        <label>Check CC exists</label>
        <locationX>726</locationX>
        <locationY>742</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CC_exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_user_license</targetReference>
            </connector>
            <label>CC exists</label>
        </rules>
        <rules>
            <name>CC_does_not_exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IND_Billing_Region</targetReference>
            </connector>
            <label>CC does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CC_exists_1</name>
        <label>Check CC exists</label>
        <locationX>1458</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CC_exists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjDefaultOppTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_default_team_members</targetReference>
            </connector>
            <label>CC exists</label>
        </rules>
        <rules>
            <name>CC_does_not_exist_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsProspect</targetReference>
            </connector>
            <label>CC does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_values_or_TEIS_Admin</name>
        <label>Check for empty values or TEIS Admin</label>
        <locationX>21</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Assign_PM_US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotEmpty</defaultConnectorLabel>
        <rules>
            <name>isemptyorTEISADMIN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_US__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_US__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTEISAdminId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_empty_values_or_TEIS_Admin_0</targetReference>
            </connector>
            <label>isemptyorTEISADMIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_values_or_TEIS_Admin_0</name>
        <label>Check for empty values or TEIS Admin</label>
        <locationX>220</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Assign_PM_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotEmpty</defaultConnectorLabel>
        <rules>
            <name>isemptyorTEISADMIN_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_EU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_EU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTEISAdminId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_empty_values_or_TEIS_Admin_0_0</targetReference>
            </connector>
            <label>isemptyorTEISADMIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_values_or_TEIS_Admin_0_0</name>
        <label>Check for empty values or TEIS Admin</label>
        <locationX>245</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Assign_PM_Global</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotEmpty</defaultConnectorLabel>
        <rules>
            <name>isemptyorTEISADMIN_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varloopProdHier.Global_PM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopProdHier.Global_PM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTEISAdminId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Prod_Hierarchy</targetReference>
            </connector>
            <label>isemptyorTEISADMIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IND_Billing_Region</name>
        <label>Check IND Billing Region</label>
        <locationX>1418</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Create_Opp_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outside US and EMEA</defaultConnectorLabel>
        <rules>
            <name>Region_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSR_Region_2</targetReference>
            </connector>
            <label>Region EMEA</label>
        </rules>
        <rules>
            <name>Region_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSR_Region</targetReference>
            </connector>
            <label>Region US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Salesforce_user_license</name>
        <label>Check Salesforce user license</label>
        <locationX>899</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Salesforce_license</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserLicenseName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment</targetReference>
            </connector>
            <label>Is Salesforce license</label>
        </rules>
        <rules>
            <name>Is_Not_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserLicenseName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IND_Billing_Region</targetReference>
            </connector>
            <label>Is Not Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Industrial</name>
        <label>is Industrial</label>
        <locationX>1380</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_102202</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102202</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Acct_Team_Member</targetReference>
            </connector>
            <label>is 102202</label>
        </rules>
        <rules>
            <name>is_not_102202</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>102202</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IND_Billing_Region</targetReference>
            </connector>
            <label>is not 102202</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsProspect</name>
        <label>IsProspect</label>
        <locationX>1045</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>territory_code_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IND_Billing_Region</targetReference>
            </connector>
            <label>territory code blank</label>
        </rules>
        <rules>
            <name>territory_code_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Industrial</targetReference>
            </connector>
            <label>territory code not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Matches_Prod_Hier</name>
        <label>Opp Matches Prod Hier</label>
        <locationX>21</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Prod_Hierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GPL does not match</defaultConnectorLabel>
        <rules>
            <name>GPL_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varloopOppParts.GPL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varloopProdHier.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_empty_values_or_TEIS_Admin</targetReference>
            </connector>
            <label>GPL matches</label>
        </rules>
    </decisions>
    <description>changed billing countries from Japan to JP and Korea to KR</description>
    <interviewLabel>IND Intercontec Default Opportunity Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND Intercontec Default Opportunity Team</label>
    <loops>
        <name>Loop_Through_Custom_Setting</name>
        <label>Loop Through Custom Setting</label>
        <locationX>516</locationX>
        <locationY>176</locationY>
        <assignNextValueToReference>varLoop2</assignNextValueToReference>
        <collectionReference>varcCustomsetting2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_opp_team_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Opp_Parts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_default_team_members</name>
        <label>loop through default team members</label>
        <locationX>1649</locationX>
        <locationY>182</locationY>
        <assignNextValueToReference>loopDefaultOppTeam</assignNextValueToReference>
        <collectionReference>colsobjDefaultOppTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsProspect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_default_team_members_0</name>
        <label>loop through default team members</label>
        <locationX>1375</locationX>
        <locationY>1057</locationY>
        <assignNextValueToReference>loopDefaultOppTeam</assignNextValueToReference>
        <collectionReference>colsobjDefaultOppTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Team_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_opp_parts</name>
        <label>Loop through opp parts</label>
        <locationX>13</locationX>
        <locationY>181</locationY>
        <assignNextValueToReference>varloopOppParts</assignNextValueToReference>
        <collectionReference>varcOppParts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Prod_Hierarchy</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_account_ID_on_opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Prod_Hierarchy</name>
        <label>Loop through Prod Hierarchy</label>
        <locationX>12</locationX>
        <locationY>368</locationY>
        <assignNextValueToReference>varloopProdHier</assignNextValueToReference>
        <collectionReference>varcProdHierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opp_Matches_Prod_Hier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_opp_parts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Team_Member</name>
        <label>Create Opp Team Member</label>
        <locationX>696</locationX>
        <locationY>1061</locationY>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>varscOppTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>888</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Billing_Country_and_region</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varINDBillRegion</assignToReference>
            <field>IND_Billing_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccTerrL2</assignToReference>
            <field>Territory_L2_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_account_ID_on_opp</name>
        <label>Lookup account ID on opp</label>
        <locationX>519</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_linked</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Custom_Setting</name>
        <label>Lookup Custom Setting</label>
        <locationX>518</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Custom_Setting</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>IC DEFAULT</stringValue>
            </value>
        </filters>
        <object>IND_Opp_Default_Team__c</object>
        <outputReference>varcCustomsetting2</outputReference>
        <queriedFields>Team_Role__c</queriedFields>
        <queriedFields>User_ID__c</queriedFields>
        <queriedFields>User_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Parts</name>
        <label>Lookup Opp Parts</label>
        <locationX>335</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_TEIS_Admin_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>CBC5_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40542</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Part__c</object>
        <outputReference>varcOppParts</outputReference>
        <queriedFields>GPL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_Hierarchy</name>
        <label>Lookup Product Hierarchy</label>
        <locationX>167</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_opp_parts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>CBC5__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40542</stringValue>
            </value>
        </filters>
        <object>Product_Hierarchy__c</object>
        <outputReference>varcProdHierarchy</outputReference>
        <queriedFields>Regional_PM_EU__c</queriedFields>
        <queriedFields>Regional_PM_US__c</queriedFields>
        <queriedFields>Global_PM__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_regional_CSRs</name>
        <label>Lookup regional CSRs</label>
        <locationX>1269</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CC_exists_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCSRRegion</elementReference>
            </value>
        </filters>
        <object>IND_Opp_Default_Team__c</object>
        <outputReference>colsobjDefaultOppTeam</outputReference>
        <queriedFields>User_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_regional_CSRs_0</name>
        <label>Lookup regional CSRs</label>
        <locationX>1557</locationX>
        <locationY>930</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CC_exists</targetReference>
        </connector>
        <filters>
            <field>Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCSRRegion</elementReference>
            </value>
        </filters>
        <object>IND_Opp_Default_Team__c</object>
        <outputReference>colsobjDefaultOppTeam</outputReference>
        <queriedFields>User_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_user_license</name>
        <label>Lookup user license</label>
        <locationX>727</locationX>
        <locationY>857</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Salesforce_user_license</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamMemberId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserLicenseName</assignToReference>
            <field>User_License_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_TEIS_Admin_ID</name>
        <label>Retrieve TEIS Admin ID</label>
        <locationX>331</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Product_Hierarchy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TEIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varTEISAdminId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Custom_Setting</startElementReference>
    <subflows>
        <name>Lookup_Acct_Team_Member</name>
        <label>Lookup Acct Team Member</label>
        <locationX>921</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Check_CC_exists_0</targetReference>
        </connector>
        <flowName>IND_Look_Up_Account_Team_Member</flowName>
        <inputAssignments>
            <name>varRecordTypeName</name>
            <value>
                <stringValue>SFDC_User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varAccID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAcctTeamRole</name>
            <value>
                <stringValue>Customer Service Rep (CSR)</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamMemberId</assignToReference>
            <name>varTeamMemberId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}


Account ID: {!varAccID}
Account Terr Level 2: {!varAccTerrL2}
Billing Country: {!varBillingCountry}
CSR Region: {!varCSRRegion}
IND Billing Region: {!varINDBillRegion}
Opp ID: {!varOppID}
Team Member ID: {!varTeamMemberId}
TEIS Admin ID: {!varTEISAdminId}
User License Name: {!varUserLicenseName}
Opp Team Member: {!varsOppTeamMember}</text>
    </textTemplates>
    <variables>
        <name>colsobjDefaultOppTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>loopDefaultOppTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>varAccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccTerrL2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varcCustomsetting2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>varcOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varcProdHierarchy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>varCSRRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varINDBillRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoop2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>varloopOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varloopOppTeamBlanks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varloopProdHier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varscOppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varsOppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTEISAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserLicenseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
