flows/IND_set_opportunity_won_dates-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.GIBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Tooling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.GIBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sensors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity - Engineering Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Dead - closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected - Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>ATSensors: Update Phase and Opportunity Step</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_pmetdec</targetReference>
            </connector>
            <label>Conditions for re-opened</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Conditions for G3</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_pmetdec</targetReference>
            </connector>
            <label>Conditions for Won Date Production</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>Conditions for lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_12_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1200</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_12_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_12_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_12_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision5</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_6_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_6_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_6_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>ATSensors: Added new condition to updated Phase to &quot;Approved/Active&quot; when new Opportunity created by AT or Sensors using Opportunity Engineering Project record type. Also added Opportunity Engineering Project Record Type to update Won Date and Won Date G3 Reporting.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_0070676714</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_4684497942</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_1750913858</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Pipeline&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Best Case&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Commit&apos;)
)
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Pipeline&apos;),
ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Best Case&apos;),
ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Commit&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Pipeline&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Best Case&apos;),
ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Commit&apos;)
)
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
OR(
ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Pipeline&apos;),
ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Best Case&apos;),
ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Commit&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
OR(
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
AND(ISPICKVAL([Opportunity].Owner.GIBU__c,&quot;Sensors&quot;),[Opportunity].Record_Type_Name__c = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Open&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL([Opportunity].StageName, &apos;Commit&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;, AND(ISPICKVAL([Opportunity].Owner.GIBU__c,&quot;Sensors&quot;) ,[Opportunity].Record_Type_Name__c = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;)
),
ISBLANK([Opportunity].Won_Date_G3_Reporting__c)
)
)


</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
OR(
AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
AND(ISPICKVAL({!myVariable_current.Owner.GIBU__c},&quot;Sensors&quot;),{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL({!myVariable_current.StageName}, &apos;Won - Open&apos;),
ISPICKVAL({!myVariable_current.StageName}, &apos;Won&apos;)
)
),
AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL({!myVariable_current.StageName}, &apos;Commit&apos;)
)
),
AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;, AND(ISPICKVAL({!myVariable_current.Owner.GIBU__c},&quot;Sensors&quot;) ,{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL({!myVariable_current.StageName}, &apos;Won - Closed&apos;),
ISPICKVAL({!myVariable_current.StageName}, &apos;Production&apos;)
),
ISBLANK({!myVariable_current.Won_Date_G3_Reporting__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
OR(
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
AND(ISPICKVAL([Opportunity].Owner.GIBU__c,&quot;Sensors&quot;),[Opportunity].Record_Type_Name__c = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Open&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL([Opportunity].StageName, &apos;Commit&apos;)
)
),
AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;, AND(ISPICKVAL([Opportunity].Owner.GIBU__c,&quot;Sensors&quot;) ,[Opportunity].Record_Type_Name__c = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;)
),
ISBLANK([Opportunity].Won_Date_G3_Reporting__c)
)
)


</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
OR(
AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
AND(ISPICKVAL({!myVariable_old.Owner.GIBU__c},&quot;Sensors&quot;),{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL({!myVariable_old.StageName}, &apos;Won - Open&apos;),
ISPICKVAL({!myVariable_old.StageName}, &apos;Won&apos;)
)
),
AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),
ISPICKVAL({!myVariable_old.StageName}, &apos;Commit&apos;)
)
),
AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;, AND(ISPICKVAL({!myVariable_old.Owner.GIBU__c},&quot;Sensors&quot;) ,{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Engineering_Project&apos;)
),
OR(
ISPICKVAL({!myVariable_old.StageName}, &apos;Won - Closed&apos;),
ISPICKVAL({!myVariable_old.StageName}, &apos;Production&apos;)
),
ISBLANK({!myVariable_old.Won_Date_G3_Reporting__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;,
AND(ISPICKVAL([Opportunity].Owner.GIBU__c,&quot;Sensors&quot;)  ,[Opportunity].Record_Type_Name__c = &apos;Opportunity_Engineering_Project&apos;)
), 
OR(
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;)
)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;,
AND(ISPICKVAL({!myVariable_current.Owner.GIBU__c},&quot;Sensors&quot;)  ,{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Engineering_Project&apos;)
), 
OR(
ISPICKVAL({!myVariable_current.StageName}, &apos;Production&apos;),
ISPICKVAL({!myVariable_current.StageName}, &apos;Won - Closed&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;,
AND(ISPICKVAL([Opportunity].Owner.GIBU__c,&quot;Sensors&quot;)  ,[Opportunity].Record_Type_Name__c = &apos;Opportunity_Engineering_Project&apos;)
), 
OR(
ISPICKVAL([Opportunity].StageName, &apos;Production&apos;),
ISPICKVAL([Opportunity].StageName, &apos;Won - Closed&apos;)
)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;,
AND(ISPICKVAL({!myVariable_old.Owner.GIBU__c},&quot;Sensors&quot;)  ,{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Engineering_Project&apos;)
), 
OR(
ISPICKVAL({!myVariable_old.StageName}, &apos;Production&apos;),
ISPICKVAL({!myVariable_old.StageName}, &apos;Won - Closed&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Omitted&apos;)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_current.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL({!myVariable_current.ForecastCategoryName}, &apos;Omitted&apos;)


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
[Opportunity].Record_Type_Name__c = &apos;IND_Engineering_project&apos;,
[Opportunity].Record_Type_Name__c = &apos;IND_Sales_Project&apos;,
[Opportunity].Record_Type_Name__c = &apos;Opportunity_Product_Platform&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Engineering_Opportunity&apos;,
[Opportunity].Record_Type_Name__c = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL([Opportunity].ForecastCategoryName, &apos;Omitted&apos;)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Engineering_project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;IND_Sales_Project&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Opportunity_Product_Platform&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Engineering_Opportunity&apos;,
{!myVariable_old.Record_Type_Name__c} = &apos;Channel_Sales_Opportunity&apos;
),

ISPICKVAL({!myVariable_old.ForecastCategoryName}, &apos;Omitted&apos;)


)</expression>
    </formulas>
    <interviewLabel>IND_set_opportunity_won_dates-10_InterviewLabel</interviewLabel>
    <label>IND set opportunity won dates</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Delete all dates</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date G3 Reporting</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date_G3_Reporting__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Phase to Approved/Active</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <value>
                <stringValue>Approved/Active</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Opportunity Step to Lost/Dead1</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Opportunity Owner GIBU</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Opportunity_Owner_GIBU__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sensors</stringValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost/Dead - closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Opportunity Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Opportunity_Step__c</field>
            <value>
                <stringValue>Lost/Dead</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Update Opportunity Step to Lost/Dead2</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Opportunity Owner GIBU</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Opportunity_Owner_GIBU__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sensors</stringValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Phase</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected - Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Opportunity Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Opportunity_Step__c</field>
            <value>
                <stringValue>Lost/Dead</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update G3 Won date</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision5</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date G3 Reporting</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date_G3_Reporting__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_4684497942</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Update Won date (Production)</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_1750913858</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Delete won dates and set lost dates</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IND Lost Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>IND_Lost_Date__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_0070676714</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date G3 Reporting</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date_G3_Reporting__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Won Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Won_Date__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
