flows/IND_PM_Notification_Interest_Tag-12.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Mail</name>
        <label>Send Error Mail</label>
        <locationX>1053</locationX>
        <locationY>509</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error Pm Notification Interest Tag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>michael_ludwig@te.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_mail</name>
        <label>Send notification mail</label>
        <locationX>637</locationX>
        <locationY>895</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TemplateforPMnotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Product Interest Tag Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>colEmailCustomSetting</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign_email_to_collection</name>
        <label>assign email to collection</label>
        <locationX>423</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>colEmailCustomSetting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCustomSetting.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_gpl_name</name>
        <label>assign gpl name</label>
        <locationX>820</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>varInterestTagGPL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varsobjTag.GPL_from_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_up_custom_setting_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_variable</name>
        <label>assign to variable</label>
        <locationX>700</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>colsobjPMNotification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCustomSetting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_temp_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>already_in_list</name>
        <label>already in list ?</label>
        <locationX>794</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>assign_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not in list</defaultConnectorLabel>
        <rules>
            <name>is_in_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjPMNotification</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopCustomSetting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_temp_collection</targetReference>
            </connector>
            <label>is in list</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_contact</name>
        <label>check contact</label>
        <locationX>506</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>Check_GPL_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>contact not filled in</defaultConnectorLabel>
        <rules>
            <name>contact_filled_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varsobjTag.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_Contact</targetReference>
            </connector>
            <label>contact filled in</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GPL_value</name>
        <label>Check GPL value</label>
        <locationX>505</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>gpl_lookup_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varsobjTag.GPL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_GPL</targetReference>
            </connector>
            <label>gpl lookup filled</label>
        </rules>
        <rules>
            <name>gpl_name_from_part_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varsobjTag.GPL_from_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_gpl_name</targetReference>
            </connector>
            <label>gpl name from part filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_lead</name>
        <label>Check lead</label>
        <locationX>311</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>check_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>lead not filled in</defaultConnectorLabel>
        <rules>
            <name>lead_filled_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varsobjTag.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_Lead</targetReference>
            </connector>
            <label>lead filled in</label>
        </rules>
    </decisions>
    <decisions>
        <name>collection_empty</name>
        <label>collection empty ?</label>
        <locationX>425</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>loop_through_temp_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collection not empty</defaultConnectorLabel>
        <rules>
            <name>collection_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjPMNotificationTemp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collection_empty_0</targetReference>
            </connector>
            <label>collection is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>collection_empty_0</name>
        <label>collection empty ?</label>
        <locationX>183</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>loop_through_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>collection not empty</defaultConnectorLabel>
        <rules>
            <name>collection_is_empty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjPMNotification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>collection is empty</label>
        </rules>
    </decisions>
    <description>without APEX sharing</description>
    <formulas>
        <name>forLeadorContact</name>
        <dataType>String</dataType>
        <expression>IF({!varsobjTag.Lead__c} != &apos;&apos;, {!varsobjTag.Lead__c},{!varsobjTag.Contact__c})</expression>
    </formulas>
    <interviewLabel>IND PM Notification Interest Tag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND PM Notification Interest Tag</label>
    <loops>
        <name>loop_through_collection</name>
        <label>loop through collection</label>
        <locationX>425</locationX>
        <locationY>762</locationY>
        <assignNextValueToReference>loopCustomSetting</assignNextValueToReference>
        <collectionReference>colsobjPMNotification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_email_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_notification_mail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_temp_collection</name>
        <label>loop through temp collection</label>
        <locationX>620</locationX>
        <locationY>607</locationY>
        <assignNextValueToReference>loopCustomSetting</assignNextValueToReference>
        <collectionReference>colsobjPMNotificationTemp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>already_in_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_through_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_custom_setting_0</name>
        <label>Look up custom setting</label>
        <locationX>259</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_custom_setting_for_PM_region_global</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>GPL__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInterestTagGPL</elementReference>
            </value>
        </filters>
        <filters>
            <field>Regions__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varsobjTag.Region_from_Lead_or_Contact__c</elementReference>
            </value>
        </filters>
        <object>IND_PM_Notification_Interest_Tag__c</object>
        <outputReference>colsobjPMNotification</outputReference>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>User_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_Contact</name>
        <label>lookup Contact</label>
        <locationX>657</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_GPL_value</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varsobjTag.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varCustomerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_custom_setting_for_PM_region_global</name>
        <label>lookup custom setting for PM region global</label>
        <locationX>427</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>collection_empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>GPL__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInterestTagGPL</elementReference>
            </value>
        </filters>
        <filters>
            <field>Regions__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Global</stringValue>
            </value>
        </filters>
        <object>IND_PM_Notification_Interest_Tag__c</object>
        <outputReference>colsobjPMNotificationTemp</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>User_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_GPL</name>
        <label>lookup GPL</label>
        <locationX>259</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_up_custom_setting_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varsobjTag.GPL__c</elementReference>
            </value>
        </filters>
        <object>Product_Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>varInterestTagGPL</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_Lead</name>
        <label>lookup Lead</label>
        <locationX>304</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_GPL_value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varsobjTag.Lead__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varCustomerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_tag</name>
        <label>lookup tag</label>
        <locationX>510</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>look_up_record_type_name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInterestTagId</elementReference>
            </value>
        </filters>
        <object>Interest_Tag__c</object>
        <outputAssignments>
            <assignToReference>varsobjTag.Activity_Type__c</assignToReference>
            <field>Activity_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varsobjTag.Contact__c</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varsobjTag.GPL__c</assignToReference>
            <field>GPL__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varsobjTag.GPL_from_Product__c</assignToReference>
            <field>GPL_from_Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varsobjTag.Lead__c</assignToReference>
            <field>Lead__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varsobjTag.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varsobjTag.Region_from_Lead_or_Contact__c</assignToReference>
            <field>Region_from_Lead_or_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>lookup_tag</startElementReference>
    <subflows>
        <name>look_up_record_type_name</name>
        <label>look up record type name</label>
        <locationX>312</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Check_lead</targetReference>
        </connector>
        <flowName>IND_Record_Type_Lookup</flowName>
        <inputAssignments>
            <name>varRecordTypeId</name>
            <value>
                <elementReference>varsobjTag.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeName</assignToReference>
            <name>varRecordTypeDeveloperName</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}

Customer Email: {!varCustomerEmail}
Customer Name: {!varCustomerName}
Tag GPL: {!varInterestTagGPL}
Tag ID: {!varInterestTagId}
Tag Record Type Name: {!varRecordTypeName}</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateforPMnotification</name>
        <text>Hi,

you are receiving this email because you are signed up to receive notifications for new Product Interest Tags in Salesforce.

The following Interest Tag has been created:

Direct Link to Lead or Contact: https://c2s--ind.cs12.my.salesforce.com/{!forLeadorContact}

GPL: {!varInterestTagGPL}

Name: {!varCustomerName}

Email: {!varCustomerEmail}

Type: {!varRecordTypeName}</text>
    </textTemplates>
    <variables>
        <name>colEmailCustomSetting</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colsobjLeadSharing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadShare</objectType>
    </variables>
    <variables>
        <name>colsobjPMNotification</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_PM_Notification_Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjPMNotificationTemp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_PM_Notification_Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>loopCustomSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_PM_Notification_Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>varCustomerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the GPL from the interest Tag</description>
        <name>varInterestTagGPL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInterestTagId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varsobjLeadSharing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadShare</objectType>
    </variables>
    <variables>
        <name>varsobjTag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
</Flow>
