flows/IND_Intercontec_Flag_Opps-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Intercontec_parts</name>
        <label>Check Intercontec parts</label>
        <locationX>454</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Variable_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varscIntercontecparts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIntercontectFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Opportunity_checkbox_false</targetReference>
            </connector>
            <label>Variable is null</label>
        </rules>
        <rules>
            <name>Variable_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varscIntercontecparts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIntercontectFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Opportunity_checkbox_true</targetReference>
            </connector>
            <label>Variable is not null</label>
        </rules>
    </decisions>
    <interviewLabel>IND Intercontec Flag Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND Intercontec Flag Opps</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_opp_parts</name>
        <label>Lookup opp parts</label>
        <locationX>450</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opportunity</targetReference>
        </connector>
        <filters>
            <field>CBC5_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40542</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity_Part__c</object>
        <outputReference>varscIntercontecparts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>454</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Intercontec_parts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varIntercontectFlag</assignToReference>
            <field>Intercontec_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Opportunity_checkbox_false</name>
        <label>update Opportunity checkbox false</label>
        <locationX>310</locationX>
        <locationY>417</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intercontec_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Opportunity_checkbox_true</name>
        <label>update Opportunity checkbox true</label>
        <locationX>612</locationX>
        <locationY>406</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intercontec_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_opp_parts</startElementReference>
    <variables>
        <name>varIntercontectFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varscIntercontecparts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
</Flow>
