flows/IND_Intercontec_Default_Opportunity_Team-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>24</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_empty_values_or_TEIS_Admin_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0</name>
        <label>add to collection</label>
        <locationX>405</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_empty_values_or_TEIS_Admin_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0_0</name>
        <label>add to collection</label>
        <locationX>234</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Prod_Hierarchy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_list</name>
        <label>add to collection list</label>
        <locationX>718</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>varscOppTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsOppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSR_Region</name>
        <label>Assign CSR Region</label>
        <locationX>1146</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CSR US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>look_up_regional_CSR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSR_Region_2</name>
        <label>Assign CSR Region</label>
        <locationX>1374</locationX>
        <locationY>751</locationY>
        <assignmentItems>
            <assignToReference>varCSRRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CSR EMEA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>look_up_regional_CSR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_EMEA</name>
        <label>Assign PM EMEA</label>
        <locationX>405</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varloopProdHier.Regional_PM_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_Global</name>
        <label>Assign PM Global</label>
        <locationX>239</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varloopProdHier.Global_PM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PM_US</name>
        <label>Assign PM US</label>
        <locationX>23</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varloopProdHier.Regional_PM_US__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_opp_team_list</name>
        <label>Assign to opp team list</label>
        <locationX>715</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoop.Team_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsOppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoop.User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_linked</name>
        <label>Check Account linked</label>
        <locationX>721</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account</targetReference>
            </connector>
            <label>Account linked</label>
        </rules>
        <rules>
            <name>account_not_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>account not linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CC_exists</name>
        <label>Check CC exists</label>
        <locationX>961</locationX>
        <locationY>751</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CC_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CC_Team_Member</targetReference>
            </connector>
            <label>CC exists</label>
        </rules>
        <rules>
            <name>CC_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CC does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_values_or_TEIS_Admin</name>
        <label>Check for empty values or TEIS Admin</label>
        <locationX>21</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Assign_PM_US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotEmpty</defaultConnectorLabel>
        <rules>
            <name>isemptyorTEISADMIN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_US__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_US__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTEISAdminId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_empty_values_or_TEIS_Admin_0</targetReference>
            </connector>
            <label>isemptyorTEISADMIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_values_or_TEIS_Admin_0</name>
        <label>Check for empty values or TEIS Admin</label>
        <locationX>220</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Assign_PM_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotEmpty</defaultConnectorLabel>
        <rules>
            <name>isemptyorTEISADMIN_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_EU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopProdHier.Regional_PM_EU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTEISAdminId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_empty_values_or_TEIS_Admin_0_0</targetReference>
            </connector>
            <label>isemptyorTEISADMIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_values_or_TEIS_Admin_0_0</name>
        <label>Check for empty values or TEIS Admin</label>
        <locationX>245</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Assign_PM_Global</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotEmpty</defaultConnectorLabel>
        <rules>
            <name>isemptyorTEISADMIN_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varloopProdHier.Global_PM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopProdHier.Global_PM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTEISAdminId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Prod_Hierarchy</targetReference>
            </connector>
            <label>isemptyorTEISADMIN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IND_Billing_Region</name>
        <label>Check IND Billing Region</label>
        <locationX>1263</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Outside US and EMEA</defaultConnectorLabel>
        <rules>
            <name>Region_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSR_Region_2</targetReference>
            </connector>
            <label>Region EMEA</label>
        </rules>
        <rules>
            <name>Region_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varINDBillRegion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSR_Region</targetReference>
            </connector>
            <label>Region US</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Industrial</name>
        <label>is Industrial</label>
        <locationX>1263</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_102202</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102202</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_Team_Member_CC</targetReference>
            </connector>
            <label>is 102202</label>
        </rules>
        <rules>
            <name>is_not_102202</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>102202</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IND_Billing_Region</targetReference>
            </connector>
            <label>is not 102202</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsProspect</name>
        <label>IsProspect</label>
        <locationX>1070</locationX>
        <locationY>497</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>territory_code_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IND_Billing_Region</targetReference>
            </connector>
            <label>territory code blank</label>
        </rules>
        <rules>
            <name>territory_code_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccTerrL2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Industrial</targetReference>
            </connector>
            <label>territory code not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Matches_Prod_Hier</name>
        <label>Opp Matches Prod Hier</label>
        <locationX>21</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Prod_Hierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GPL does not match</defaultConnectorLabel>
        <rules>
            <name>GPL_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varloopOppParts.GPL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varloopProdHier.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_empty_values_or_TEIS_Admin</targetReference>
            </connector>
            <label>GPL matches</label>
        </rules>
    </decisions>
    <description>final</description>
    <interviewLabel>IND Intercontec Default Opportunity Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND Intercontec Default Opportunity Team</label>
    <loops>
        <name>Loop_Through_Custom_Setting</name>
        <label>Loop Through Custom Setting</label>
        <locationX>516</locationX>
        <locationY>176</locationY>
        <assignNextValueToReference>varLoop</assignNextValueToReference>
        <collectionReference>varcCustomSetting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_opp_team_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Opp_Parts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_opp_parts</name>
        <label>Loop through opp parts</label>
        <locationX>13</locationX>
        <locationY>181</locationY>
        <assignNextValueToReference>varloopOppParts</assignNextValueToReference>
        <collectionReference>varcOppParts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Prod_Hierarchy</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Team_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Prod_Hierarchy</name>
        <label>Loop through Prod Hierarchy</label>
        <locationX>12</locationX>
        <locationY>368</locationY>
        <assignNextValueToReference>varloopProdHier</assignNextValueToReference>
        <collectionReference>varcProdHierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opp_Matches_Prod_Hier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_opp_parts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CC_Team_Member</name>
        <label>Create CC Team Member</label>
        <locationX>767</locationX>
        <locationY>872</locationY>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Customer Care Professional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varTeamMemberId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Team_Member</name>
        <label>Create Opp Team Member</label>
        <locationX>519</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Lookup_account_ID_on_opp</targetReference>
        </connector>
        <inputReference>varscOppTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>look_up_regional_CSR</name>
        <label>look up regional CSR</label>
        <locationX>1259</locationX>
        <locationY>873</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CC_exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCSRRegion</elementReference>
            </value>
        </filters>
        <object>IND_Opp_Default_Team__c</object>
        <outputAssignments>
            <assignToReference>varTeamMemberId</assignToReference>
            <field>User_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>910</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsProspect</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varINDBillRegion</assignToReference>
            <field>IND_Billing_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccTerrL2</assignToReference>
            <field>Territory_L2_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_account_ID_on_opp</name>
        <label>Lookup account ID on opp</label>
        <locationX>519</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_linked</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_Team_Member_CC</name>
        <label>Lookup Account Team Member CC</label>
        <locationX>757</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CC_exists</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Service Rep (CSR)</stringValue>
            </value>
        </filters>
        <object>Account_Team__c</object>
        <outputAssignments>
            <assignToReference>varTeamMemberId</assignToReference>
            <field>Team_Member__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Custom_Setting</name>
        <label>Lookup Custom Setting</label>
        <locationX>518</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Custom_Setting</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CSR EMEA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CSR US</stringValue>
            </value>
        </filters>
        <object>IND_Opp_Default_Team__c</object>
        <outputReference>varcCustomSetting</outputReference>
        <queriedFields>Team_Role__c</queriedFields>
        <queriedFields>User_ID__c</queriedFields>
        <queriedFields>User_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Parts</name>
        <label>Lookup Opp Parts</label>
        <locationX>335</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_TEIS_Admin_ID</targetReference>
        </connector>
        <filters>
            <field>CBC5_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40542</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Part__c</object>
        <outputReference>varcOppParts</outputReference>
        <queriedFields>GPL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_Hierarchy</name>
        <label>Lookup Product Hierarchy</label>
        <locationX>167</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_opp_parts</targetReference>
        </connector>
        <filters>
            <field>CBC5__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40542</stringValue>
            </value>
        </filters>
        <object>Product_Hierarchy__c</object>
        <outputReference>varcProdHierarchy</outputReference>
        <queriedFields>Regional_PM_EU__c</queriedFields>
        <queriedFields>Regional_PM_US__c</queriedFields>
        <queriedFields>Global_PM__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_TEIS_Admin_ID</name>
        <label>Retrieve TEIS Admin ID</label>
        <locationX>254</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Product_Hierarchy</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TEIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varTEISAdminId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Custom_Setting</startElementReference>
    <variables>
        <name>varAccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccTerrL2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varcCustomSetting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>varcOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varcProdHierarchy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>varCSRRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varINDBillRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IND_Opp_Default_Team__c</objectType>
    </variables>
    <variables>
        <name>varloopOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varloopOppTeamBlanks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varloopProdHier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varscOppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varsOppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTEISAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
