flows/IND_Event_Lead_populate_MQL_lookup-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Event_Lead_Id_Empty</name>
        <label>Event Lead Id Empty</label>
        <locationX>521</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ID_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEventLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEventLeadRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event_Lead</targetReference>
            </connector>
            <label>ID not Empty</label>
        </rules>
    </decisions>
    <interviewLabel>IND Event Lead populate MQL lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND Event Lead populate MQL lookup</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_IND_Event_Lead_Record_Type_ID</name>
        <label>Lookup IND Event Lead Record Type ID</label>
        <locationX>519</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Lead_Id_Empty</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event_Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varEventLeadRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_MQL_Record</name>
        <label>Lookup MQL Record</label>
        <locationX>521</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_IND_Event_Lead_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMQLId</elementReference>
            </value>
        </filters>
        <object>TEMarketing__MQLRecord__c</object>
        <outputAssignments>
            <assignToReference>varEventLeadId</assignToReference>
            <field>Event_Lead_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_Lead</name>
        <label>Update Event Lead</label>
        <locationX>518</locationX>
        <locationY>400</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventLeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventLeadRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MQLRecord_ID__c</field>
            <value>
                <elementReference>varMQLId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Lookup_MQL_Record</startElementReference>
    <variables>
        <name>varEventLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventLeadRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMQLId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
