flows/Interest_Tag_Duplicate_Debug-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Mail</name>
        <label>Send Error Mail</label>
        <locationX>569</locationX>
        <locationY>529</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error Interest Tag Duplicate Check</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>michael_ludwig@te.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign_final_check</name>
        <label>assign final check</label>
        <locationX>906</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>loopDuplicateTags.Final_Opportunity_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_unique_key_to_collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_delete</name>
        <label>assign to delete</label>
        <locationX>906</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>colsobjDupTagsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopDuplicateTags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_not_final_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_final</name>
        <label>assign to final</label>
        <locationX>909</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>colsobjFinaltags</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCheckForFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_final_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_not_final_collection</name>
        <label>assign to not final collection</label>
        <locationX>913</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>colsobTagsNotFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCheckForFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_final_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unique_key_to_collection_0_0</name>
        <label>Assign GPL to collection</label>
        <locationX>912</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>colExistingGPL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopDuplicateTags.GPL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_update</name>
        <label>assign update</label>
        <locationX>914</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>colsobTagstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopDuplicateTags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_not_final_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_delete</name>
        <label>check delete</label>
        <locationX>1204</locationX>
        <locationY>714</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjDupTagsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_dupes</targetReference>
            </connector>
            <label>delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_unique_key_0_0</name>
        <label>check for GPL</label>
        <locationX>906</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>assign_final_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GPL does not exist</defaultConnectorLabel>
        <rules>
            <name>key_exists_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colExistingGPL</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopDuplicateTags.GPL__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_to_delete</targetReference>
            </connector>
            <label>GPL exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_marked_as_final</name>
        <label>Check marked as final</label>
        <locationX>912</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>assign_to_not_final_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not marked as final</defaultConnectorLabel>
        <rules>
            <name>is_marked_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCheckForFinal.Final_Opportunity_Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_to_final</targetReference>
            </connector>
            <label>is marked final</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_update</name>
        <label>check update</label>
        <locationX>1197</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>check_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobTagstoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_final</targetReference>
            </connector>
            <label>update</label>
        </rules>
    </decisions>
    <decisions>
        <name>final_exists</name>
        <label>final exists ?</label>
        <locationX>1323</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>loop_through_not_final_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no final records</defaultConnectorLabel>
        <rules>
            <name>final_records_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjFinaltags</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_dupes_0</targetReference>
            </connector>
            <label>final records exist</label>
        </rules>
    </decisions>
    <description>Winter 18 debug</description>
    <formulas>
        <name>forUniquekey</name>
        <dataType>String</dataType>
        <expression>{!varContactID}&amp;{!varGPLId}&amp;{!varOppID}</expression>
    </formulas>
    <interviewLabel>Interest Tag Duplicate Debug {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interest Tag Duplicate Check</label>
    <loops>
        <name>check_for_final_records</name>
        <label>check for final records</label>
        <locationX>1104</locationX>
        <locationY>290</locationY>
        <assignNextValueToReference>loopCheckForFinal</assignNextValueToReference>
        <collectionReference>colsobInterestTagDeleteCheck</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_marked_as_final</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>final_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_not_final_records</name>
        <label>loop through not final records</label>
        <locationX>1118</locationX>
        <locationY>441</locationY>
        <assignNextValueToReference>loopDuplicateTags</assignNextValueToReference>
        <collectionReference>colsobTagsNotFinal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_unique_key_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordDeletes>
        <name>delete_dupes</name>
        <label>delete dupes</label>
        <locationX>1394</locationX>
        <locationY>712</locationY>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <inputReference>colsobjDupTagsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>delete_dupes_0</name>
        <label>delete dupes</label>
        <locationX>1506</locationX>
        <locationY>296</locationY>
        <inputReference>colsobTagsNotFinal</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>look_up_existing_interest_tags_0</name>
        <label>look up existing interest tags</label>
        <locationX>1097</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_final_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Email_from_Contact_or_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGPLId</elementReference>
            </value>
        </filters>
        <object>Interest_Tag__c</object>
        <outputReference>colsobInterestTagDeleteCheck</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GPL__c</queriedFields>
        <queriedFields>Final_Opportunity_Tag__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_final</name>
        <label>update final</label>
        <locationX>1378</locationX>
        <locationY>585</locationY>
        <connector>
            <targetReference>check_delete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Mail</targetReference>
        </faultConnector>
        <inputReference>colsobTagstoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>look_up_existing_interest_tags_0</startElementReference>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}

Tag ID: {!varInterestTagID}
Opp ID: {!varOppID}
Contact ID: {!varContactID}
GPL: {!varGPLId}</text>
    </textTemplates>
    <variables>
        <name>colExistingGPL</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colsobFinalDedeuped</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobInterestTag</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobInterestTagDeleteCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjActivityStaging</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Key_Activity_Staging__c</objectType>
    </variables>
    <variables>
        <name>colsobjContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Opportunity_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>colsobjDedupedTagstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjDupTagsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjFinaltags</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjFinalTagsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjOpInterestTagsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>colsobjOpppartsNotDeduped</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>colsobTagsNotFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobTagstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>loopCheckForFinal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>loopDuplicateTags</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <description>lookup to the contact</description>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>guohuilin@ofei.com.cn</stringValue>
        </value>
    </variables>
    <variables>
        <description>holds the variable of the GPL the pn belongs to</description>
        <name>varGPLId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0FE0000000dx4L</stringValue>
        </value>
    </variables>
    <variables>
        <description>holds ID of Interes Tag</description>
        <name>varInterestTagID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
