flows/Interest_Tag_Main_Flow-61.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Mail</name>
        <label>Error Mail</label>
        <locationX>835</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error Interest Tag Main Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>michael_ludwig@te.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>1441</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>colsobjFinalTagsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCompareTags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compare_new_tags_with_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_product_string_collection</name>
        <label>add to product string collection</label>
        <locationX>458</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>colProductStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInterestTagLookup.Part_Number_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collection_empt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_3D_PDF</name>
        <label>assign 3D PDF</label>
        <locationX>316</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest_Tag_Final_3D_PDF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lookup_record_type_id_web_tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CAD</name>
        <label>assign CAD</label>
        <locationX>459</locationX>
        <locationY>1084</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest_Tag_Final_CAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lookup_record_type_id_web_tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GPL_record_to_collection</name>
        <label>assign GPL record to collection</label>
        <locationX>221</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>colsobjGPL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjGPL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_string_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GPL_to_collection</name>
        <label>assign GPL to collection</label>
        <locationX>52</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>colGPLNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjGPL.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_GPL_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_interest_tag</name>
        <label>assign interest tag</label>
        <locationX>984</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopContactRoles.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.GPL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGPLId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Opportunity_Part_Creation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Email_from_Activity_or_Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopContactRoles.Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Unique_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forUniquekey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopContactRoles.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPartID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_interest_tag_0</name>
        <label>assign interest tag</label>
        <locationX>1904</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.GPL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOppParts.GPL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Opportunity_Part_Creation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOppParts.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Email_from_Activity_or_Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmailContactRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Unique_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forUniquekey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOppParts.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOppParts.Part__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_interest_tag_to_collection</name>
        <label>assign interest tag to collection</label>
        <locationX>264</locationX>
        <locationY>1600</locationY>
        <assignmentItems>
            <assignToReference>colsobInterestTag</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInterestTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_GPL_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Part_ID</name>
        <label>assign Part ID</label>
        <locationX>1757</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>varPartID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOppParts.Part__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_interest_tag_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sample_Request</name>
        <label>assign Sample Request</label>
        <locationX>606</locationX>
        <locationY>1084</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interest_Tag_Final_Sample_Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lookup_record_type_id_web_tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_collection</name>
        <label>assign to collection</label>
        <locationX>1301</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>colsobjOpInterestTagsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInterestTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contact_roels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_collection_0</name>
        <label>assign to collection</label>
        <locationX>2093</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>colsobjOpInterestTagsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInterestTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_opp_parts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_deduped_tags_to_create</name>
        <label>assign to deduped tags to create</label>
        <locationX>1329</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>colsobjDedupedTagstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopDedupeTagsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>de_dupe_tags_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_opp_part_collection</name>
        <label>assign to opp part collection</label>
        <locationX>1941</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>colsobjOppParts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCheckOppPartnumbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_part_number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unique_key_to_collection</name>
        <label>Assign unique key to collection</label>
        <locationX>1443</locationX>
        <locationY>1165</locationY>
        <assignmentItems>
            <assignToReference>colExistingUniqueKeySet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUniqueKeySet.Unique_Key__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_unique_key_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unique_key_to_final_collection</name>
        <label>Assign unique key to final collection</label>
        <locationX>1325</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>colFinalUniqueKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopDedupeTagsToCreate.Unique_Key__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_deduped_tags_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_interest_tag</name>
        <label>assign values to interest tag</label>
        <locationX>266</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Area_of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopGPL.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInterestTagLookup.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInterestTagLookup.Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.GPL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopGPL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInterestTagLookup.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInterestTagLookup.Activity_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjInterestTag.Activity_Class_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjInterestTagLookup.Activity_Class_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_interest_tag_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigncontactid</name>
        <label>assigncontactid</label>
        <locationX>1140</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>varContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopContactRoles.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_interest_tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_final</name>
        <label>Check final</label>
        <locationX>1439</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>loopCompareTags.Final_Opportunity_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Activity</name>
        <label>Check Activity</label>
        <locationX>456</locationX>
        <locationY>953</locationY>
        <defaultConnectorLabel>no matches</defaultConnectorLabel>
        <rules>
            <name>X3D_PDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjInterestTagLookup.Activity_Rating_Desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3D PDF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_3D_PDF</targetReference>
            </connector>
            <label>3D PDF</label>
        </rules>
        <rules>
            <name>sample_requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjInterestTagLookup.Activity_Rating_Desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sample_Request</targetReference>
            </connector>
            <label>sample requests</label>
        </rules>
        <rules>
            <name>CAD_Model</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjInterestTagLookup.Activity_Rating_Desc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAD Model</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CAD</targetReference>
            </connector>
            <label>CAD Model</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_unique_key</name>
        <label>check for unique key</label>
        <locationX>1331</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_unique_key_to_final_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>does not exist</defaultConnectorLabel>
        <rules>
            <name>key_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colFinalUniqueKey</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopDedupeTagsToCreate.Unique_Key__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>de_dupe_tags_to_create</targetReference>
            </connector>
            <label>key exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_unique_key_0</name>
        <label>check for unique key</label>
        <locationX>1444</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>Assign_unique_key_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>does not exist</defaultConnectorLabel>
        <rules>
            <name>key_exists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colExistingUniqueKeySet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopUniqueKeySet.Unique_Key__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_unique_key_set</targetReference>
            </connector>
            <label>key exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>414</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Raw_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Raw_Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Separator_exist</targetReference>
            </connector>
            <label>Raw Data</label>
        </rules>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual_Interest_Tag</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part_entered</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
    </decisions>
    <decisions>
        <name>collection_empt</name>
        <label>collection empty ?</label>
        <locationX>254</locationX>
        <locationY>488</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>collection_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colProductStrings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>collection empty</label>
        </rules>
        <rules>
            <name>collection_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colProductStrings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_string_collection</targetReference>
            </connector>
            <label>collection not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>contact_role_exists</name>
        <label>contact role exists ?</label>
        <locationX>1293</locationX>
        <locationY>308</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>role_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjContactRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>look_up_id_Opp_Tag</targetReference>
            </connector>
            <label>role exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Role_or_Opp_Part</name>
        <label>Contact Role or Opp Part</label>
        <locationX>1288</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contact_role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>look_up_opp_part</targetReference>
            </connector>
            <label>contact role</label>
        </rules>
        <rules>
            <name>opp_part</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppPart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_contact_roles</targetReference>
            </connector>
            <label>opp part</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPL_already_in_collection</name>
        <label>GPL already in collection ?</label>
        <locationX>55</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>assign_GPL_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not in collection</defaultConnectorLabel>
        <rules>
            <name>in_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colGPLNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sobjGPL.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_string_collection</targetReference>
            </connector>
            <label>in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPL_collection_empty</name>
        <label>GPL collection empty ?</label>
        <locationX>458</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GPL_Col_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colGPLNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>GPL Col is empty</label>
        </rules>
        <rules>
            <name>GPL_Col_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colGPLNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Activity</targetReference>
            </connector>
            <label>GPL Col is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interest_tag_exists</name>
        <label>Interest tag exists ?</label>
        <locationX>631</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>Contact_Role_or_Opp_Part</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tag does not exist yet</defaultConnectorLabel>
        <rules>
            <name>Tag_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInterestTagID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Lookup_interest_tag</targetReference>
            </connector>
            <label>Tag exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_part_exist</name>
        <label>opp part exist ?</label>
        <locationX>1777</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>part_exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjOpppartsNotPnChecked</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_part_number</targetReference>
            </connector>
            <label>part exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppPart_has_PN</name>
        <label>OppPart has PN ?</label>
        <locationX>2139</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_part_number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>does not have pn</defaultConnectorLabel>
        <rules>
            <name>has_pn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCheckOppPartnumbers.Part__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_to_opp_part_collection</targetReference>
            </connector>
            <label>has pn</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppPart_PN_collection_empty</name>
        <label>OppPart PN collection empty</label>
        <locationX>1770</locationX>
        <locationY>247</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>collection_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobjOppParts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>look_up_id_Opp_Tag_0</targetReference>
            </connector>
            <label>collection is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Part_entered</name>
        <label>Part entered ?</label>
        <locationX>616</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>part_is_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjInterestTagLookup.Part__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_key_Activity_Staging</targetReference>
            </connector>
            <label>part is entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>part_number_exists</name>
        <label>part number exists</label>
        <locationX>55</locationX>
        <locationY>677</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>does_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_GPL</targetReference>
            </connector>
            <label>does exist</label>
        </rules>
        <rules>
            <name>does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_string_collection</targetReference>
            </connector>
            <label>does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Separator_exist</name>
        <label>Separator exists ?</label>
        <locationX>440</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Separator_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forSeparatorCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>split_part_number_field</targetReference>
            </connector>
            <label>Separator exists</label>
        </rules>
        <rules>
            <name>Separator_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forSeparatorCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_to_product_string_collection</targetReference>
            </connector>
            <label>Separator does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>tag_already_exists</name>
        <label>tag already exists</label>
        <locationX>1444</locationX>
        <locationY>1285</locationY>
        <defaultConnector>
            <targetReference>Check_final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>key does not exist</defaultConnectorLabel>
        <rules>
            <name>tag_exists_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colExistingUniqueKeySet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopCompareTags.Unique_Key__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>compare_new_tags_with_existing</targetReference>
            </connector>
            <label>tag exists already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tags_exist_already</name>
        <label>Tags exist already</label>
        <locationX>1762</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>compare_new_tags_with_existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>tags do not exist</defaultConnectorLabel>
        <rules>
            <name>Tags_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colsobInterestTag</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_unique_key_set</targetReference>
            </connector>
            <label>Tags exist</label>
        </rules>
    </decisions>
    <description>Switch from GPL to PN</description>
    <formulas>
        <name>forSeparatorCheck</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!sobjInterestTagLookup.Part_Number_Text__c},&apos;|&apos;), &apos;|&apos;,
IF(CONTAINS({!sobjInterestTagLookup.Part_Number_Text__c},&apos;;&apos;), &apos;;&apos;,
IF(CONTAINS({!sobjInterestTagLookup.Part_Number_Text__c},&apos;,&apos;), &apos;,&apos;,
&apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>forTrimLoop</name>
        <dataType>String</dataType>
        <expression>TRIM({!loopStringcollection})</expression>
    </formulas>
    <formulas>
        <name>forUniquekey</name>
        <dataType>String</dataType>
        <expression>{!varContactID}&amp;{!varPartID}&amp;{!varOppID}</expression>
    </formulas>
    <interviewLabel>Interest Tag Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interest Tag Main Flow</label>
    <loops>
        <name>Check_part_number</name>
        <label>Check part number</label>
        <locationX>2076</locationX>
        <locationY>154</locationY>
        <assignNextValueToReference>loopCheckOppPartnumbers</assignNextValueToReference>
        <collectionReference>colsobjOpppartsNotPnChecked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OppPart_has_PN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OppPart_PN_collection_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>compare_new_tags_with_existing</name>
        <label>compare new tags with existing</label>
        <locationX>1635</locationX>
        <locationY>1168</locationY>
        <assignNextValueToReference>loopCompareTags</assignNextValueToReference>
        <collectionReference>colsobjDedupedTagstoCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>tag_already_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_tags_opp_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>create_unique_key_set</name>
        <label>create unique key set</label>
        <locationX>1629</locationX>
        <locationY>1040</locationY>
        <assignNextValueToReference>loopUniqueKeySet</assignNextValueToReference>
        <collectionReference>colsobInterestTag</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_unique_key_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>compare_new_tags_with_existing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>de_dupe_tags_to_create</name>
        <label>de-dupe tags to create</label>
        <locationX>1542</locationX>
        <locationY>580</locationY>
        <assignNextValueToReference>loopDedupeTagsToCreate</assignNextValueToReference>
        <collectionReference>colsobjOpInterestTagsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_unique_key</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>look_up_existing_interest_tags</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_contact_roels</name>
        <label>loop through contact roels</label>
        <locationX>1298</locationX>
        <locationY>429</locationY>
        <assignNextValueToReference>loopContactRoles</assignNextValueToReference>
        <collectionReference>colsobjContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigncontactid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>de_dupe_tags_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_GPL_Collection</name>
        <label>Loop through GPL Collection</label>
        <locationX>464</locationX>
        <locationY>1476</locationY>
        <assignNextValueToReference>loopGPL</assignNextValueToReference>
        <collectionReference>colsobjGPL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_interest_tag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Interest_Tags</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_opp_parts</name>
        <label>loop through opp parts</label>
        <locationX>1771</locationX>
        <locationY>475</locationY>
        <assignNextValueToReference>loopOppParts</assignNextValueToReference>
        <collectionReference>colsobjOppParts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Part_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>de_dupe_tags_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_string_collection</name>
        <label>Loop through string collection</label>
        <locationX>454</locationX>
        <locationY>681</locationY>
        <assignNextValueToReference>loopStringcollection</assignNextValueToReference>
        <collectionReference>colProductStrings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>look_up_Part</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GPL_collection_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Interest_Tags</name>
        <label>Create Interest Tags</label>
        <locationX>473</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Flag_converted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <inputReference>colsobInterestTag</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_key_Activity_Staging</name>
        <label>Create key Activity Staging</label>
        <locationX>817</locationX>
        <locationY>270</locationY>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_Class_Code__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.Activity_Class_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Date_Time__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Date__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Description__c</field>
            <value>
                <elementReference>varRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Email__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.Email_from_Contact_or_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Notes__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Subject__c</field>
            <value>
                <elementReference>varRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.Activity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.Account_Name_from_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Industry__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.Business_Unit_from_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Part_Numbers__c</field>
            <value>
                <elementReference>sobjInterestTagLookup.Part_Number_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Key_Activity_Staging__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_tags_opp_0</name>
        <label>create tags opp</label>
        <locationX>1636</locationX>
        <locationY>1425</locationY>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <inputReference>colsobjFinalTagsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fast_Lookup_interest_tag</name>
        <label>Fast Lookup interest tag</label>
        <locationX>296</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>look_up_record_type_name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Completely_Converted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInterestTagID</elementReference>
            </value>
        </filters>
        <object>Interest_Tag__c</object>
        <outputReference>sobjInterestTagLookup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Name_from_Contact__c</queriedFields>
        <queriedFields>Activity_Class_Code__c</queriedFields>
        <queriedFields>Activity_Date_Time__c</queriedFields>
        <queriedFields>Activity_Rating_Desc__c</queriedFields>
        <queriedFields>Business_Unit_from_Contact__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Email_from_Activity_or_Contact_Role__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Email_from_Contact_or_Lead__c</queriedFields>
        <queriedFields>GPL__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Part_Number_Text__c</queriedFields>
        <queriedFields>Part__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>GPL_Info__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Activity_Type__c</queriedFields>
        <queriedFields>Part_Number_Name__c</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>look_up_contact</name>
        <label>look up contact</label>
        <locationX>465</locationX>
        <locationY>1336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_GPL_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjInterestTagLookup.Email_from_Activity_or_Contact_Role__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>look_up_existing_interest_tags</name>
        <label>look up existing interest tags</label>
        <locationX>1629</locationX>
        <locationY>789</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tags_exist_already</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Interest_Tag__c</object>
        <outputReference>colsobInterestTag</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unique_Key__c</queriedFields>
        <queriedFields>Final_Opportunity_Tag__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>look_up_opp_part</name>
        <label>look up opp part</label>
        <locationX>1783</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opp_part_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Part__c</object>
        <outputReference>colsobjOpppartsNotPnChecked</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GPL__c</queriedFields>
        <queriedFields>Part__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>GPL_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>look_up_Part</name>
        <label>look up Part</label>
        <locationX>243</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>part_number_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forTrimLoop</elementReference>
            </value>
        </filters>
        <object>Part__c</object>
        <outputAssignments>
            <assignToReference>varPartID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGPLId</assignToReference>
            <field>Product_Hierarchy__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_contact_roles</name>
        <label>lookup contact roles</label>
        <locationX>1291</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contact_role_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Custom_Opportunity_Contact_Role__c</object>
        <outputReference>colsobjContactRoles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contact_Email__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_GPL</name>
        <label>lookup GPL</label>
        <locationX>52</locationX>
        <locationY>795</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GPL_already_in_collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGPLId</elementReference>
            </value>
        </filters>
        <object>Product_Hierarchy__c</object>
        <outputReference>sobjGPL</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Flag_converted</name>
        <label>Flag converted</label>
        <locationX>670</locationX>
        <locationY>1601</locationY>
        <faultConnector>
            <targetReference>Error_Mail</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInterestTagID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completely_Converted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Interest_Tag__c</object>
    </recordUpdates>
    <startElementReference>Interest_tag_exists</startElementReference>
    <subflows>
        <name>look_up_id_Opp_Tag</name>
        <label>look up id Opp Tag</label>
        <locationX>1119</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>loop_through_contact_roels</targetReference>
        </connector>
        <flowName>IND_Record_Type_Lookup</flowName>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>Opportunity_Interest_Tag</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeID</assignToReference>
            <name>varRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>look_up_id_Opp_Tag_0</name>
        <label>look up id Opp Tag</label>
        <locationX>1769</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>loop_through_opp_parts</targetReference>
        </connector>
        <flowName>IND_Record_Type_Lookup</flowName>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <stringValue>Opportunity_Interest_Tag</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeID</assignToReference>
            <name>varRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>look_up_record_type_name</name>
        <label>look up record type name</label>
        <locationX>301</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <flowName>IND_Record_Type_Lookup</flowName>
        <inputAssignments>
            <name>varRecordTypeId</name>
            <value>
                <elementReference>sobjInterestTagLookup.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeName</assignToReference>
            <name>varRecordTypeDeveloperName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>lookup_record_type_id_web_tag</name>
        <label>lookup record type id web tag</label>
        <locationX>459</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>look_up_contact</targetReference>
        </connector>
        <flowName>IND_Record_Type_Lookup</flowName>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <elementReference>varRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeID</assignToReference>
            <name>varRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>split_part_number_field</name>
        <label>split part number field</label>
        <locationX>254</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>collection_empt</targetReference>
        </connector>
        <flowName>IND_String_Separator</flowName>
        <inputAssignments>
            <name>InputString</name>
            <value>
                <elementReference>sobjInterestTagLookup.Part_Number_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Separator</name>
            <value>
                <elementReference>forSeparatorCheck</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>colProductStrings</assignToReference>
            <name>StringCollection</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}

Tag ID: {!varInterestTagID}
Opp ID: {!varOppID}
Contact ID: {!varContactID}
Contact Role ID: {!varContactRole}
Opportunity Part: {!varOppPart}</text>
    </textTemplates>
    <variables>
        <name>colExistingUniqueKeySet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFinalUniqueKey</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colGPLID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds the GPL names of the pn found</description>
        <name>colGPLNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOppGPLID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colProductStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colsobInterestTag</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Opportunity_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>colsobjDedupedTagstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjFinalTagsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjGPL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>colsobjOpInterestTagsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>colsobjOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>colsobjOpppartsNotPnChecked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>loopCheckOppPartnumbers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>loopCompareTags</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>loopContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Opportunity_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>loopDedupeTagsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>loopGPL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Hierarchy__c</objectType>
    </variables>
    <variables>
        <description>loop variable for GPL collection</description>
        <name>loopGPLCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>loopStringcollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopUniqueKeySet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>sobjGPL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>sobjInterestTag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <name>sobjInterestTagLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interest_Tag__c</objectType>
    </variables>
    <variables>
        <description>lookup to the contact</description>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>holds the variable of the GPL the pn belongs to</description>
        <name>varGPLId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGPLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds ID of Interes Tag</description>
        <name>varInterestTagID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppPart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>holds the ID of the part</description>
        <name>varPartID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the developer name of the tag&apos;s record type</description>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
