flows/MQL_Record_Campaign_Response_Relationship-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>426</locationX>
        <locationY>98</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>MQL Record - Campaign Response Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>marketingoperations@te.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>DaysForCampaignMembers</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact</label>
        <locationX>52</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign_Members_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MQLRecord.TEMarketing__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Responses</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <formulas>
        <name>ResponseWindow</name>
        <dataType>DateTime</dataType>
        <expression>{!$System.OriginDateTime} - {!DaysForCampaignMembers}</expression>
    </formulas>
    <interviewLabel>MQL Record - Campaign Response Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MQL Record - Campaign Response Relationship</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Campaign_Members_Lead</name>
        <label>Update Campaign Members (Lead)</label>
        <locationX>233</locationX>
        <locationY>38</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>FirstRespondedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ResponseWindow</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasResponded</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Include_In_Opportunity_ROI__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__MQLRecord__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TEMarketing__MQLRecord__c</field>
            <value>
                <elementReference>MQLRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Responses</name>
        <label>Update Campaign Responses</label>
        <locationX>235</locationX>
        <locationY>151</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstRespondedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ResponseWindow</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasResponded</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Include_In_Opportunity_ROI__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__MQLRecord__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TEMarketing__MQLRecord__c</field>
            <value>
                <elementReference>MQLRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <startElementReference>Lead_or_Contact</startElementReference>
    <textTemplates>
        <name>ErrorMessage</name>
        <text>WhoId: {!WhoId}
MQLRecord: {!MQLRecord}

Fault Message: {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>MQLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__MQLRecord__c</objectType>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
