flows/Partner_Portal_Pass_to_Distributor-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>1356</locationX>
        <locationY>51</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error: Partner Portal - Pass To Distributor</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>marketingoperations@te.com,mike@interzolve.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Distributor_Other</name>
        <label>Distributor Other</label>
        <locationX>363</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>SelectedDistributorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Values2</name>
        <label>Lead Values</label>
        <locationX>407</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>Lead.Communities_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDistributorName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passed to Distributor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.TEMarketing__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passed to Distributor (Non-Portal)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoteToDistributor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Round_Robin_Queue</name>
        <label>Round Robin Queue</label>
        <locationX>130</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>MQLRecord.TEMarketing__Distributor_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Round Robin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MQLRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoundRobinQueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Contact</name>
        <label>Set as Contact</label>
        <locationX>61</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>ObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MQL_Record1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Lead</name>
        <label>Set as Lead</label>
        <locationX>417</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>ObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Owned_by_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Values2</name>
        <label>Set Contact Values</label>
        <locationX>576</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>Contact.TEMarketing__Inquiry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passed to Distributor (Non-Portal)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoteToDistributor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Create_Task</name>
        <label>Set Create Task</label>
        <locationX>872</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>CreateTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MQL_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Method</name>
        <label>Set Method</label>
        <locationX>501</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>MQLRecord.TEMarketing__Distributor_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_value</name>
        <label>Set value</label>
        <locationX>847</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>MQLRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDistributorFilterAgent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MQLRecord.TEMarketing__Distributor_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MQLRecord.TEMarketing__Primary_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MQLRecord.TEMarketing__Passed_to_Primary_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MQLRecord.TEMarketing__Primary_Distributor_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDistributorFilterAgent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Non_Portal_Distributor</name>
        <choiceText>Non-Portal Distributor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NonPortal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Other Distributor Name</promptText>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Round_Robin_Assignment</name>
        <choiceText>Round Robin Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RoundRobin</stringValue>
        </value>
    </choices>
    <constants>
        <name>ContactValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>LeadValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>RoundRobinQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GE0000003IIez</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Active_Distributors</name>
        <label>Active Round Robin Distributors?</label>
        <locationX>140</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>No_Round_Robin_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Distributors</defaultConnectorLabel>
        <rules>
            <name>Active_Distributors2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributorsForRegionAndBU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Round_Robin_Queue</targetReference>
            </connector>
            <label>Active Distributors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead?</label>
        <locationX>63</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Task1</name>
        <label>Create Task?</label>
        <locationX>1125</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>MQL_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Task2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Task3</name>
        <label>Create Task?</label>
        <locationX>505</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Lead_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Task4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Non_Portal</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Task6</name>
        <label>Create Task?</label>
        <locationX>199</locationX>
        <locationY>1134</locationY>
        <defaultConnector>
            <targetReference>MQL_Round_Robin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Task5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Round_Robin</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_MQL_Exist</name>
        <label>Does MQL Exist?</label>
        <locationX>620</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Choose_Distributor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MQLRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_MQL</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact1</name>
        <label>Lead or Contact?</label>
        <locationX>512</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Values2</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LeadValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Values2</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Owned_by_Queue</name>
        <label>Lead Owned by Queue?</label>
        <locationX>613</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>Get_MQL_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner by User</defaultConnectorLabel>
        <rules>
            <name>Owned_by_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Create_Task</targetReference>
            </connector>
            <label>Owned by Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Selected</name>
        <label>Other Selected?</label>
        <locationX>503</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Contact1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Other2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distributor_Other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_Distributor</name>
        <label>Portal Distributor?</label>
        <locationX>489</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Set_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Portal</defaultConnectorLabel>
        <rules>
            <name>Non_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Distributor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NonPortal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Non_Portal_Distributor</targetReference>
            </connector>
            <label>Non-Portal</label>
        </rules>
        <rules>
            <name>Round_Robin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Distributor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RoundRobin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Round_Robin_Distributor</targetReference>
            </connector>
            <label>Round Robin</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DistributorByRegionBU</name>
        <dataType>String</dataType>
        <displayField>TEMarketing__Distributor_Name__c</displayField>
        <filters>
            <field>TEMarketing__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__GIBU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__BU_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__Region__c</elementReference>
            </value>
        </filters>
        <object>TEMarketing__Distributor_Rank__c</object>
        <outputAssignments>
            <assignToReference>SelectedDistributorName</assignToReference>
            <field>TEMarketing__Distributor_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DistributorId</assignToReference>
            <field>TEMarketing__Distributor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDistributorFilterAgent</assignToReference>
            <field>TEMarketing__Filter_Agent__c</field>
        </outputAssignments>
        <sortField>TEMarketing__Distributor_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonPortalDistributors</name>
        <dataType>String</dataType>
        <displayField>TEMarketing__Distributor_Name__c</displayField>
        <filters>
            <field>TEMarketing__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__GIBU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__BU_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__Region__c</elementReference>
            </value>
        </filters>
        <object>TEMarketing__Distributor_Rank__c</object>
        <outputAssignments>
            <assignToReference>SelectedDistributorName</assignToReference>
            <field>TEMarketing__Distributor_Name__c</field>
        </outputAssignments>
        <sortField>TEMarketing__Distributor_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>TEMarketing__Distributor_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>SubjectDistributor</name>
        <dataType>String</dataType>
        <expression>&apos;Lead follow-up with &apos; + {!Distributor}</expression>
    </formulas>
    <formulas>
        <name>SubjectNonPortal</name>
        <dataType>String</dataType>
        <expression>&apos;Lead follow-up with &apos; + {!Non_Portal_DistributorDDL} + &apos; &apos; + {!SelectedDistributorName}</expression>
    </formulas>
    <formulas>
        <name>TaskDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 2</expression>
    </formulas>
    <interviewLabel>Partner Portal - Pass to Distributor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Portal - Pass to Distributor</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1128</locationX>
        <locationY>730</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>MQL_Passed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectDistributor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Non_Portal</name>
        <label>Create Task - Non-Portal</label>
        <locationX>510</locationX>
        <locationY>1450</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Lead_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectNonPortal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Round_Robin</name>
        <label>Create Task - Round Robin</label>
        <locationX>43</locationX>
        <locationY>1134</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>MQL_Round_Robin</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectRoundRobin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>65</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_as_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TEMarketing__Inquiry_Status__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>247</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_as_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Communities_Distributor__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TEMarketing__Stage__c</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MQL_Record</name>
        <label>Get MQL Record</label>
        <locationX>617</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_MQL_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>TEMarketing__Inquiry_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Owner_Licence_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner Community</stringValue>
            </value>
        </filters>
        <object>TEMarketing__MQLRecord__c</object>
        <outputReference>MQLRecord</outputReference>
        <queriedFields>Owner_Region__c</queriedFields>
        <queriedFields>TEMarketing__BU_Name__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>TEMarketing__Email__c</queriedFields>
        <queriedFields>TEMarketing__Full_Name__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>TEMarketing__Region__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>TEMarketing__MQL_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_MQL_Record1</name>
        <label>Get MQL Record</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_MQL_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>TEMarketing__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Inquiry_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Owner_Licence_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner Community</stringValue>
            </value>
        </filters>
        <object>TEMarketing__MQLRecord__c</object>
        <outputReference>MQLRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TEMarketing__Region__c</queriedFields>
        <queriedFields>TEMarketing__BU_Name__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>TEMarketing__Email__c</queriedFields>
        <queriedFields>TEMarketing__Full_Name__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>TEMarketing__MQL_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Round_Robin_Distributor</name>
        <label>Get Round Robin Distributor</label>
        <locationX>282</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Distributors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>TEMarketing__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Exclude_From_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__GIBU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__BU_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MQLRecord.TEMarketing__Region__c</elementReference>
            </value>
        </filters>
        <object>TEMarketing__Distributor_Rank__c</object>
        <outputReference>DistributorsForRegionAndBU</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact1</name>
        <label>Update Contact</label>
        <locationX>570</locationX>
        <locationY>1024</locationY>
        <connector>
            <targetReference>Set_Method</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead2</name>
        <label>Update Lead</label>
        <locationX>406</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>Set_Method</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL</name>
        <label>Update MQL</label>
        <locationX>981</locationX>
        <locationY>610</locationY>
        <connector>
            <targetReference>Create_Task1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>MQLRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL4</name>
        <label>Update MQL</label>
        <locationX>131</locationX>
        <locationY>1016</locationY>
        <connector>
            <targetReference>Create_Task6</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>MQLRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL_Record</name>
        <label>Update MQL Record</label>
        <locationX>502</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Create_Task3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>MQLRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_Distributor</name>
        <label>Choose Distributor</label>
        <locationX>489</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Portal_Distributor</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>The active distributors for the {!MQLRecord.TEMarketing__BU_Name__c} business unit in {!MQLRecord.TEMarketing__Region__c}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Distributor</name>
            <choiceReferences>DistributorByRegionBU</choiceReferences>
            <choiceReferences>Non_Portal_Distributor</choiceReferences>
            <choiceReferences>Round_Robin_Assignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Distributor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Non_Portal_Distributor</name>
        <label>Choose Non-Portal Distributor</label>
        <locationX>506</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Other_Selected</targetReference>
        </connector>
        <fields>
            <name>Non_Portal_DistributorDDL</name>
            <choiceReferences>NonPortalDistributors</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Non-Portal Distributor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NoteToDistributor</name>
            <fieldText>Notes For Distributor</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Details</name>
        <label>Lead Details</label>
        <locationX>662</locationX>
        <locationY>1450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LeadDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Use the Printable View feature to capture the MQL information to be passed to the distributor&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MQL_Passed</name>
        <label>MQL Passed</label>
        <locationX>1394</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MQLPassedMessage</name>
            <fieldText>{!MQLRecord.Name} for {!MQLRecord.TEMarketing__Full_Name__c} assigned to {!SelectedDistributorName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MQL_Round_Robin</name>
        <label>MQL Round Robin</label>
        <locationX>108</locationX>
        <locationY>1245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MQLRoundRobin</name>
            <fieldText>MQL has been assigned via round robin</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_MQL</name>
        <label>No MQL</label>
        <locationX>865</locationX>
        <locationY>237</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoMQLMessage</name>
            <fieldText>There is currently no MQL for this {!ObjectType} in Marketing Qualified status that can be passed to a distributor.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Round_Robin_Screen</name>
        <label>No Round Robin Screen</label>
        <locationX>135</locationX>
        <locationY>366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_Distributor</targetReference>
        </connector>
        <fields>
            <name>NoRoundRobinMessage</name>
            <fieldText>There are no active distributors for round robin for the {!MQLRecord.TEMarketing__BU_Name__c} business unit in {!MQLRecord.TEMarketing__Region__c}.

Please select a distributor from the pick list or a non-portal distributor.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Contact_or_Lead</startElementReference>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}

RESOURCE VARIABLE VALUES
CreateTask: {!CreateTask}
Object Task: {!ObjectType}
Who Id: {!WhoId}
Selected Distributor Filter Agent: {!SelectedDistributorFilterAgent}
Selected Distributor Name: {!SelectedDistributorName}
Distributor Id: {!DistributorId}
Task Id: {!TaskId}

RESOURCE SOBJECT VARIABLES
Lead: {!Lead}
Contact: {!Contact}
MQL Record: {!MQLRecord}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectRoundRobin</name>
        <text>Follow up with Distributor</text>
    </textTemplates>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreateTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DistributorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DistributorsForRegionAndBU</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__Distributor_Rank__c</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>MQLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__MQLRecord__c</objectType>
    </variables>
    <variables>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedDistributorFilterAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedDistributorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
