flows/Partner_Portal_Lead_Conversion-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>838</locationX>
        <locationY>428</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error: Partner Portal - Lead Conversion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>marketingoperations@te.com,mike@interzolve.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Default_Owner</name>
        <label>Assign Default Owner</label>
        <locationX>509</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>ChannelUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005E0000005P0nU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnedByQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IDs</name>
        <label>Assign IDs</label>
        <locationX>67</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedLead.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedLead.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedLead.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Lead_Owner_a_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_is_Lead_Owner</name>
        <label>Owner is Lead Owner</label>
        <locationX>242</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>ChannelUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedLead.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnedByLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complete</name>
        <label>Set Complete</label>
        <locationX>845</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Email</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DefaultOwnerId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005E0000000XnJq</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Lead_Owner_a_Queue</name>
        <label>Is Lead Owner a Queue?</label>
        <locationX>242</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Owner_is_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Owner_is_a_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ConvertedLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>ConvertingUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Owner</targetReference>
            </connector>
            <label>Owner is a Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Exists</name>
        <label>Opportunity Exists?</label>
        <locationX>460</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Set_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Owner</targetReference>
            </connector>
            <label>Yes, Opportunity Exists</label>
        </rules>
    </decisions>
    <description>Removed setting of ownership</description>
    <interviewLabel>Partner Portal - Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Portal - Lead Conversion</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Opp_Team_Lead_Owner</name>
        <label>Opp Team - Lead Owner</label>
        <locationX>457</locationX>
        <locationY>571</locationY>
        <assignRecordIdToReference>ChannelOppMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Distribution Application Engineer (DAE)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>ChannelUserId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_Team</name>
        <label>Opportunity Team</label>
        <locationX>459</locationX>
        <locationY>465</locationY>
        <assignRecordIdToReference>OpportunityMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>Opp_Team_Lead_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Partner SE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>ConvertingUserId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordUpdates>
        <name>Account_Owner</name>
        <label>Account Owner</label>
        <locationX>683</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Contact_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertingUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ChannelUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Owner</name>
        <label>Contact Owner</label>
        <locationX>682</locationX>
        <locationY>144</locationY>
        <connector>
            <targetReference>Opportunity_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertingUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ChannelUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Owner</name>
        <label>Opportunity Owner</label>
        <locationX>460</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Set_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portal_Channel_User__c</field>
            <value>
                <elementReference>ChannelUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Converting_User__c</field>
            <value>
                <elementReference>ConvertingUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Create_Opp_Team__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Assign_IDs</startElementReference>
    <textTemplates>
        <name>EmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}

VARIABLE VALUES
Lead Owner Id: {!ConvertedLead.OwnerId}
Account: {!AccountId}
Contact: {!ContactId}
Converting User ID: {!ConvertingUserId}
Channel User Id: {!ChannelUserId}
Opportunity ID: {!OpportunityId}
Opportunity Member: {!OpportunityMemberId}
Channel Opp Member: {!ChannelOppMemberId}
Completed: {!Complete}
Owned By Lead: {!OwnedByLead}
Owned By Queue: {!OwnedByQueue}

SOBJECT VARIABLES
Converted Lead: {!ConvertedLead}</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ChannelOppMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChannelUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConvertedLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ConvertingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnedByLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OwnedByQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
