flows/Partner_Portal-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>60</locationX>
        <locationY>294</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error: Partner Portal - MQL Parent Sharing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>marketingoperations@te.com,mike@interzolve.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Account_Share_ID</name>
        <label>Account Share ID</label>
        <locationX>880</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Account_Share_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountShareId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complete</name>
        <label>Set Complete</label>
        <locationX>772</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If the distributor name is blank, it will automatically handle un-sharing the lead with the previous distributor (if it existed)</description>
        <name>Update_Communities_Distributor</name>
        <label>Update Communities Distributor</label>
        <locationX>671</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>Lead.Communities_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributorRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>772</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sharing_ID_Exists</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distributor_Exists</name>
        <label>Distributor Exists?</label>
        <locationX>513</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Distributor_Exists2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributorRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Passed_to_Primary_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Distributor Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists</name>
        <label>Lead Exists?</label>
        <locationX>665</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Communities_Distributor</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Distributor_Exists</name>
        <label>Secondary Distributor Exists?</label>
        <locationX>70</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>Get_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Primary</defaultConnectorLabel>
        <rules>
            <name>Secondary_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Passed_to_Secondary_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Distributor</targetReference>
            </connector>
            <label>Secondary Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sharing_ID_Exists</name>
        <label>Sharing ID Exists?</label>
        <locationX>882</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Create_AccountShare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Account_Share_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Account_Share_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_AccountShare</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Partner Portal - MQL Parent Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Portal - MQL Parent Sharing</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AccountShare</name>
        <label>Create AccountShare</label>
        <locationX>882</locationX>
        <locationY>355</locationY>
        <assignRecordIdToReference>AccountShareId</assignRecordIdToReference>
        <connector>
            <targetReference>Account_Share_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>DistributorRecord.TEMarketing__Group_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_AccountShare</name>
        <label>Delete AccountShare</label>
        <locationX>1107</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>Create_AccountShare</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Account_Share_ID__c</elementReference>
            </value>
        </filters>
        <object>AccountShare</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>769</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>665</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Lead__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Communities_Distributor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary</name>
        <label>Get Primary</label>
        <locationX>313</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Distributor_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Primary_Distributor__c</elementReference>
            </value>
        </filters>
        <object>TEMarketing__Distributor__c</object>
        <outputReference>DistributorRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TEMarketing__Group_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Distributor</name>
        <label>Get Secondary Distributor</label>
        <locationX>315</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Distributor_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Secondary_Distributor__c</elementReference>
            </value>
        </filters>
        <object>TEMarketing__Distributor__c</object>
        <outputReference>DistributorRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TEMarketing__Group_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>673</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Set_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MQL_Again</name>
        <label>Update MQL Again</label>
        <locationX>883</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Set_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>InputMQLRecord</inputReference>
    </recordUpdates>
    <startElementReference>Secondary_Distributor_Exists</startElementReference>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}

RESOURCE VARIABLE VALUES 
Account Share ID: {!AccountShareId}
Complete: {!Complete}

RESOURCE SOBJECT VARIABLES
Distributor: {!DistributorRecord}
Contact: {!Contact}
Lead: {!Lead}
MQL Record: {!InputMQLRecord}</text>
    </textTemplates>
    <variables>
        <name>AccountShareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DistributorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__Distributor__c</objectType>
    </variables>
    <variables>
        <name>InputMQLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__MQLRecord__c</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
