flows/Partner_Portal_MQL_Ownership-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>227</locationX>
        <locationY>712</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error: Partner Portal - MQL Ownership</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>marketingoperations@te.com,mike@interzolve.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>585</locationX>
        <locationY>765</locationY>
        <actionName>TEMarketing__MQLRecord__c.TEMarketing__Notify_owner_of_incoming_MQL_Record</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Complete</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>InputMQLRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_to_Round_Robin_Queue</name>
        <label>Assign to Round Robin Queue</label>
        <locationX>876</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoundRobinQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Distributor_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Round Robin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Initial_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MQL_Owner_Contact_Owner</name>
        <label>MQL Owner = Contact Owner</label>
        <locationX>291</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputContact.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MQL_Owner_Lead_Owner</name>
        <label>MQL Owner = Lead Owner</label>
        <locationX>130</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputLead.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MQL_Owner_Primary_Distributor</name>
        <label>MQL Owner = Primary Distributor</label>
        <locationX>1123</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryDistributor.TEMarketing__Filter_Agent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Passed_to_Primary_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Primary_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryDistributor.TEMarketing__Distributor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryDistributor.TEMarketing__Distributor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Distributor_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Primary_Distributor_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryDistributor.TEMarketing__Filter_Agent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Initial_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MQL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Channel</name>
        <label>Routing = Channel Sales Rep</label>
        <locationX>442</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Initial_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Channel Sales Rep</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Direct_Sales_Rep</name>
        <label>Routing = Direct Sales Rep</label>
        <locationX>434</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Initial_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct Sales Rep</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Inside_Sales</name>
        <label>Routing = Inside Sales</label>
        <locationX>442</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>InputMQLRecord.TEMarketing__Initial_Routing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inside Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complete</name>
        <label>Set Complete</label>
        <locationX>742</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>ICT Sales Standard User</description>
        <name>ICTSalesStandardUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ICT Sales Standard User</stringValue>
        </value>
    </constants>
    <constants>
        <name>RoundRobinQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GE0000003IIez</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_active_distributors</name>
        <label>Any active distributors?</label>
        <locationX>877</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Is_Inside_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Distributors</defaultConnectorLabel>
        <rules>
            <name>Active_Distributors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributorsForRegionAndBU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Round_Robin_Queue</targetReference>
            </connector>
            <label>Active Distributors</label>
        </rules>
    </decisions>
    <decisions>
        <name>BUD_Confidence</name>
        <label>BUD Confidence?</label>
        <locationX>969</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>Is_Inside_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 60</defaultConnectorLabel>
        <rules>
            <name>X60_or_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Confidence__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_primary_distributor</targetReference>
            </connector>
            <label>60 or Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_or_Channel</name>
        <label>Direct or Channel?</label>
        <locationX>650</locationX>
        <locationY>3</locationY>
        <defaultConnector>
            <targetReference>Routing_Direct_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.C2S_Sales_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Focus_Account</targetReference>
            </connector>
            <label>Channel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Focus_Account</name>
        <label>Focus Account?</label>
        <locationX>798</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>BUD_Confidence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Focus Account</defaultConnectorLabel>
        <rules>
            <name>Focus_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Focus_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Inside_Sales</targetReference>
            </connector>
            <label>Focus Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inside_Sales</name>
        <label>Owner Is Inside Sales?</label>
        <locationX>693</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Routing_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>InsideSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.Owner_is_Inside_Sales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routing_Inside_Sales</targetReference>
            </connector>
            <label>Inside Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_primary_distributor</name>
        <label>Is there a primary distributor?</label>
        <locationX>971</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Get_Distributors_in_BU_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Distributor</defaultConnectorLabel>
        <rules>
            <name>Distributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Primary_Distributor_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputMQLRecord.TEMarketing__Primary_Distributor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Distributor</targetReference>
            </connector>
            <label>Distributor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact?</label>
        <locationX>282</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>MQL_Owner_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_User_Profile_Check</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>MQL_User_Profile_Check</name>
        <label>MQL User Profile Check</label>
        <locationX>313</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>MQL_Owner_Contact_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MQL_Owner_Contact_Owner</defaultConnectorLabel>
        <rules>
            <name>MQL_User_Profile_Check_ICT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputMQLRecord.MQL_Owner_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ICTSalesStandardUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Complete</targetReference>
            </connector>
            <label>MQL User Profile Check_ICT</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1st_Disty_on_Portal</name>
        <label>1st Disty on Portal?</label>
        <locationX>1120</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Is_Inside_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not On Portal</defaultConnectorLabel>
        <rules>
            <name>On_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryDistributor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_Owner_Primary_Distributor</targetReference>
            </connector>
            <label>On Portal</label>
        </rules>
    </decisions>
    <description>Added Distributor Routing Method values</description>
    <interviewLabel>Partner Portal - MQL Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Portal - MQL Ownership</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Distributors_in_BU_Region</name>
        <label>Get Distributors in BU/Region</label>
        <locationX>874</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_active_distributors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>TEMarketing__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Exclude_From_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__GIBU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__BU_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Region__c</elementReference>
            </value>
        </filters>
        <object>TEMarketing__Distributor_Rank__c</object>
        <outputReference>DistributorsForRegionAndBU</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Distributor</name>
        <label>Get Primary Distributor</label>
        <locationX>1121</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1st_Disty_on_Portal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>TEMarketing__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Primary_Distributor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__GIBU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__BU_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEMarketing__Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputMQLRecord.TEMarketing__Region__c</elementReference>
            </value>
        </filters>
        <object>TEMarketing__Distributor_Rank__c</object>
        <outputReference>PrimaryDistributor</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TEMarketing__Filter_Agent__c</queriedFields>
        <queriedFields>TEMarketing__Distributor__c</queriedFields>
        <queriedFields>TEMarketing__Distributor_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_MQL</name>
        <label>Update MQL</label>
        <locationX>580</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputReference>InputMQLRecord</inputReference>
    </recordUpdates>
    <startElementReference>Direct_or_Channel</startElementReference>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}

RESOURCE VARIABLE VALUES 
Distributor Name: {!DistributorName}
Parent Sharing Complete: {!ParentSharingComplete}

RESOURCE SOBJECT VARIABLES
Input Contact: {!InputContact}
Input Lead: {!InputLead}
Input MQL Record: {!InputMQLRecord}
Primary Distributor: {!PrimaryDistributor}
MQL Record Owner: {!InputMQLRecord.OwnerId}</text>
    </textTemplates>
    <variables>
        <name>Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DistributorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DistributorsForRegionAndBU</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__Distributor_Rank__c</objectType>
    </variables>
    <variables>
        <name>InputContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>InputLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>InputMQLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__MQLRecord__c</objectType>
    </variables>
    <variables>
        <name>ParentSharingComplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryDistributor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TEMarketing__Distributor_Rank__c</objectType>
    </variables>
</Flow>
