flows/picCreateContact-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_if_CC_not_found</name>
        <label>Assign if CC not found</label>
        <locationX>503</locationX>
        <locationY>1539</locationY>
        <assignmentItems>
            <assignToReference>CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CC_default_value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Msg</name>
        <label>Assignment Msg</label>
        <locationX>438</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country_Lookup</name>
        <label>Set Country Lookup</label>
        <locationX>307</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>a_Account_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cs_Account_to_Search_for</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Record_ID_lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country_Lookup_0</name>
        <label>Set Country Lookup</label>
        <locationX>438</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>a_Account_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>us_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Record_ID_lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country_Lookup_0_0</name>
        <label>Set Country Lookup</label>
        <locationX>437</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>a_Account_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>us_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Record_ID_lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country_Lookup_0_0_0</name>
        <label>Set Country Lookup</label>
        <locationX>148</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>a_Account_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ass_Account_to_Search_for</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Account_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>573</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>us_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please update the required fields</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Noftification_of_Existing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_flow_email</name>
        <label>set flow email</label>
        <locationX>435</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>c_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_Last_Names</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ms_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Record_ID_lookup</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bucket_Account</name>
        <choiceText>Attach to PIC Universal Customer Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Find_Existing_Account</name>
        <choiceText>Find Existing Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_Account</name>
        <choiceText>Create New Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Use_Account_Selected_Below</name>
        <choiceText>Use Account Selected Below</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>a_PIC_Acct_RTC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012Z00000004Oe3</stringValue>
        </value>
    </constants>
    <constants>
        <name>CC_default_value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>XX</stringValue>
        </value>
    </constants>
    <constants>
        <name>contact_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PIC Contact</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Decision_Tree</name>
        <label>Account Decision Tree</label>
        <locationX>307</locationX>
        <locationY>1108</locationY>
        <defaultConnector>
            <targetReference>Lookup_Account_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bucket_Account_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucket_Account</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_To_Bucket_Account</targetReference>
            </connector>
            <label>Bucket Account_Choice</label>
        </rules>
        <rules>
            <name>Create_Account_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Account</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Fields_Screen</targetReference>
            </connector>
            <label>Create Account Choice</label>
        </rules>
        <rules>
            <name>Existing_Account_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Account</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Country_Lookup_0_0_0</targetReference>
            </connector>
            <label>Existing Account Choice</label>
        </rules>
        <rules>
            <name>Selected_Existing_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ass_AccountSearchResults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Account_Selected_Below</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyCorrectAccount</targetReference>
            </connector>
            <label>Selected Existing account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_contact_update_required_fields</name>
        <label>Check contact update required fields</label>
        <locationX>829</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Contact_FN_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>us_update_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>us_First_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message</targetReference>
            </connector>
            <label>Contact FN Required</label>
        </rules>
        <rules>
            <name>Contact_LN_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>us_update_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>us_Last_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message</targetReference>
            </connector>
            <label>Contact LN Required</label>
        </rules>
        <rules>
            <name>Conatct_Country_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>us_update_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>us_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message</targetReference>
            </connector>
            <label>Conatct Country Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country_code_exists</name>
        <label>Check Country code exists</label>
        <locationX>309</locationX>
        <locationY>1457</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CC_exits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account</targetReference>
            </connector>
            <label>CC exits</label>
        </rules>
        <rules>
            <name>CC_doesnt_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_if_CC_not_found</targetReference>
            </connector>
            <label>CC doesnt exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_email_address</name>
        <label>Check for email address</label>
        <locationX>821</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_existance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Process</defaultConnectorLabel>
        <rules>
            <name>If_Email_does_not_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>c_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>c_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_error_message</targetReference>
            </connector>
            <label>If Email does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>initiated_from_Case_or_Not</name>
        <label>initiated from Case or Not</label>
        <locationX>111</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Contact_Record_ID_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>By Pass input screen</defaultConnectorLabel>
        <rules>
            <name>Need_Field_input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Email_address_is_Available</targetReference>
            </connector>
            <label>Need Field input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contact_or_Not</name>
        <label>Update Contact or Not</label>
        <locationX>829</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>Update_Case_to_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Update_existing_contact_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>us_update_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>us_change_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_New_Contact_info</targetReference>
            </connector>
            <label>Update existing contact only</label>
        </rules>
        <rules>
            <name>Update_existing_Contact_and_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>us_change_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>us_update_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_New_Contact_info_0</targetReference>
            </connector>
            <label>Update existing Contact and account</label>
        </rules>
        <rules>
            <name>Update_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>us_change_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>us_update_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Country_Lookup_0</targetReference>
            </connector>
            <label>Update account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_Found</name>
        <label>Was Contact Found</label>
        <locationX>829</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Verify_Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact_Not_Found</defaultConnectorLabel>
        <rules>
            <name>Countact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contact_existance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Noftification_of_Existing_Contact</targetReference>
            </connector>
            <label>Countact_Found</label>
        </rules>
    </decisions>
    <description>PIC Flow</description>
    <dynamicChoiceSets>
        <name>AccountSearch</name>
        <dataType>String</dataType>
        <displayField>Account_CityInfo__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>a_Account_Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>a_City</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Country</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_ZIP</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_State</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Street</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Account_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_BU</assignToReference>
            <field>Industry_Code_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Account_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Region</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_AcctType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>a_Website</assignToReference>
            <field>Website</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dl_Region</name>
        <dataType>String</dataType>
        <displayField>Region__c</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lu_account_Record_Type_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>a_Region</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
        <valueField>Region__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PIC Contact-Account Flow  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PIC Contact-Account Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create_Contact</label>
        <locationX>438</locationX>
        <locationY>450</locationY>
        <assignRecordIdToReference>co_New_Contact_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_to_New_Contact_info_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assignment_Msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>c_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>cs_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>cs_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>cs_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>cs_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>cs_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>cs_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>cs_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>cs_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>lu_contact_Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>307</locationX>
        <locationY>1575</locationY>
        <assignRecordIdToReference>a_Account_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_to_New_Account_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>ac_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>ac_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>ac_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>ac_Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ac_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>ac_Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ac_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ac_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>lu_account_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>ac_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Record_ID_lookup</name>
        <label>Account Record ID lookup</label>
        <locationX>305</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account_Screen_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>lu_account_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_Contact_existance</name>
        <label>Check Contact existance</label>
        <locationX>824</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_contact_Existance_Get_account_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen2</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lu_contact_Record_Type_ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contact_lookup_account_ID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_firstname</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>co_New_Contact_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_lastname</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_city</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_mailingCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_ZipCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_state</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_address</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_lookup_phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_contact_Existance_Get_account_Name</name>
        <label>Check contact Existance - Get account Name</label>
        <locationX>826</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_lookup_account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>contact_lookup_account_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Contact_Record_ID_lookup</name>
        <label>Contact Record ID lookup</label>
        <locationX>574</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_email_address</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>lu_contact_Record_Type_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Country_Name_Lookup</name>
        <label>Country Name Lookup</label>
        <locationX>309</locationX>
        <locationY>1365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Country_code_exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ac_Country</elementReference>
            </value>
        </filters>
        <object>Country_List__c</object>
        <outputAssignments>
            <assignToReference>CountryCode</assignToReference>
            <field>Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_to_New_Contact</name>
        <label>Update Case to New Contact</label>
        <locationX>584</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>End_flow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_New_Contact_and_Account</name>
        <label>Update Case to New Contact and Account</label>
        <locationX>298</locationX>
        <locationY>1802</locationY>
        <connector>
            <targetReference>End_flow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>a_Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_New_Contact_info</name>
        <label>Update Case to New Contact_info</label>
        <locationX>920</locationX>
        <locationY>982</locationY>
        <connector>
            <targetReference>Update_Existing_Contact_record_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>us_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>us_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>us_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>us_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>us_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Supplied_First_Name__c</field>
            <value>
                <elementReference>us_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Supplied_Last_Name__c</field>
            <value>
                <elementReference>us_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>us_ZipCode</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_New_Contact_info_0</name>
        <label>Update Case to New Contact_info</label>
        <locationX>494</locationX>
        <locationY>1108</locationY>
        <connector>
            <targetReference>Update_Existing_Contact_record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>us_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>us_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>us_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>us_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>us_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Supplied_First_Name__c</field>
            <value>
                <elementReference>us_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Supplied_Last_Name__c</field>
            <value>
                <elementReference>us_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>us_ZipCode</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_New_Contact_info_0_0</name>
        <label>Update Case to New Contact_info</label>
        <locationX>185</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Set_Country_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>cs_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>cs_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>cs_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>cs_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>cs_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Supplied_First_Name__c</field>
            <value>
                <elementReference>cs_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Supplied_Last_Name__c</field>
            <value>
                <elementReference>cs_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>cs_Zip</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_To_Bucket_Account</name>
        <label>Update Contact To Bucket Account</label>
        <locationX>472</locationX>
        <locationY>1306</locationY>
        <connector>
            <targetReference>Update_Case_to_New_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>a_Bucket_Account_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_to_New_Account_ID</name>
        <label>Update Contact to New Account ID</label>
        <locationX>212</locationX>
        <locationY>1684</locationY>
        <connector>
            <targetReference>Update_Case_to_New_Contact_and_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen4</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>a_Account_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Contact_record</name>
        <label>Update Existing Contact Record</label>
        <locationX>464</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>Set_Country_Lookup_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>us_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>us_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>us_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>us_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>us_ZipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>us_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>us_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Contact_record_0</name>
        <label>Update Existing Contact Record</label>
        <locationX>925</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>Update_Case_to_New_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen3</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>co_New_Contact_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>us_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>us_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>us_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>us_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>us_ZipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>us_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>us_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Email_error_message</name>
        <label>Email error message</label>
        <locationX>1129</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>An email address was not passed to the process.  Please ensure an email address is on the case screen in the Web email field or customer email field and try again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_flow</name>
        <label>End flow</label>
        <locationX>580</locationX>
        <locationY>1805</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Endflow</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you!  Your record(s) have been created!  Please click the &amp;quot;Finish&amp;quot; button to return to your Case.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>438</locationX>
        <locationY>680</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>Something went wrong!
Error----{!Error}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen1</name>
        <label>Error Screen1</label>
        <locationX>394</locationX>
        <locationY>1688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText1</name>
            <fieldText>Something went wrong!
{!Error}

Please note if the error shows &quot;Redirecting in just a second&quot; then it implies that account being created already exists, please do a global search to avoid creating a duplicate.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen2</name>
        <label>Error Screen2</label>
        <locationX>1001</locationX>
        <locationY>301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText2</name>
            <fieldText>Something went wrong!
Please check if email address is missing on contact or in web email.
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen3</name>
        <label>Error Screen3</label>
        <locationX>1020</locationX>
        <locationY>1204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText3</name>
            <fieldText>Something went wrong!
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen4</name>
        <label>Error Screen4</label>
        <locationX>132</locationX>
        <locationY>1799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText4</name>
            <fieldText>Something went wrong!
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lookup_Account_Screen_0</name>
        <label>Lookup Account Screen</label>
        <locationX>307</locationX>
        <locationY>891</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Decision_Tree</targetReference>
        </connector>
        <fields>
            <name>ExistingAcctMessage_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;DO NOT USE THE BACK BUTTON ON THIS SCREEN.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you wish to make changes to the contact please finish out this flow and use the update button again from the case screen&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select an account option.   If the account you wish to use is shown below select that one.  Otherwise you may select Search again.  &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You will have a chance to verify your Account selection on the next screen.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ass_Account_Options</name>
            <choiceReferences>Use_Account_Selected_Below</choiceReferences>
            <choiceReferences>New_Account</choiceReferences>
            <choiceReferences>Bucket_Account</choiceReferences>
            <choiceReferences>Find_Existing_Account</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Use_Account_Selected_Below</defaultSelectedChoiceReference>
            <fieldText>Account Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ass_Account_to_Search_for</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>a_Account_Name</elementReference>
            </defaultValue>
            <fieldText>Account to Search for</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mesage_2</name>
            <fieldText>&lt;BR&gt;
Or use one of these found Accounts:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ass_AccountSearchResults</name>
            <choiceReferences>AccountSearch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Search Results</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>Please choose the proper Account, you will have a chance to verify whether it is the correct Account on the next screen.</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Account_Fields_Screen</name>
        <label>New Account Fields Screen</label>
        <locationX>309</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Country_Name_Lookup</targetReference>
        </connector>
        <fields>
            <name>NewAcctInstructions</name>
            <fieldText>Please enter the desired Account information to create a new Account to Salesforce.com.  This will be the Account your newly created Contact will be associated with.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ac_Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>a_Account_Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ac_Website</name>
            <dataType>String</dataType>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ac_Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ac_Street_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Address</elementReference>
            </defaultValue>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ac_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_City</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ac_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_State</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ac_Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_ZipCode</elementReference>
            </defaultValue>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ac_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Country</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ac_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ac_Fax</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>acs_message_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>acs_message_3</name>
            <fieldText>Please Note.  There are a few fields on the Account screen that can not be updated from here.  Fields such as Type, Region, Business Unit, and SE (Americas, Asia, Emea).   These fields contain important information for the Lead process.   From the Case screen please click the account name to go to the account screen where these fields can be updated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>BE VERY CAREFUL MODIFING THIS.  THE HTML IS VERY TOUCHY.  DO NOT MODIFY ON THE WYSIWYG SCREEN  IT WILL ELIMINATE ALL TEH HTML</description>
        <name>Noftification_of_Existing_Contact</name>
        <label>Noftification of Existing Contact</label>
        <locationX>828</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_contact_update_required_fields</targetReference>
        </connector>
        <fields>
            <name>contact_message_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The contact already exists.  &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you would like to update the contact&amp;apos;s information, enter the updates in the fields below and check the &amp;quot;Update Existing Contact&amp;quot; checkbox.  **Note: This will over-write all existing fields inthe contact with the information below.**&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you would like to update the existing contact&amp;apos;s Account, Check the &amp;quot;Create or Modify Contact&amp;apos;s Account&amp;quot; checkbox.  In the following screens you will be prompted with the available options to update the account.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can select both checkboxes if needed.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contact_message_5</name>
            <fieldText>&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Existing Contact:&lt;/B&gt;&lt;/FONT&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;
&lt;TABLE BORDER=&quot;0&quot; STYLE=&quot;width:70%;&quot;&gt;
&lt;TR&gt;
&lt;TD ALIGN=right  STYLE=&quot;width:25%;&quot;&gt;&lt;B&gt;First Name:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_firstname}&lt;/TD&gt;&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Last Name:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_lastname}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Email:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_email}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Phone:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_phone}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Street:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_address}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;City:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_city}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;State:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_state}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Zip Code:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_ZipCode}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Country:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_mailingCountry}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Company / Account Name: &amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!contact_lookup_account_Name}&lt;/TD&gt;
&lt;/TR&gt;
&lt;/TABLE&gt;
&lt;/FONT&gt;

&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Contact information:&lt;/B&gt;&lt;/FONT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>us_update_contact</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Update Existing Contact&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailMessage</name>
            <fieldText>&lt;/FONT&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;
&lt;TABLE BORDER=&quot;0&quot; STYLE=&quot;width:70%;&quot;&gt;
&lt;TR&gt;
&lt;TD ALIGN=right  STYLE=&quot;width:26%;&quot;&gt;&lt;B&gt;Email:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!contact_lookup_email}&lt;/TD&gt;
&lt;/TABLE&gt;
&lt;/FONT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>us_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_First_Name</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;* &lt;B&gt;First Name:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>us_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Last_Name</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;* &lt;B&gt;Last Name&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>us_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Phone</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Phone:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>us_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Address</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Street:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>us_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_City</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;City:  &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>us_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_State</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;State:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>us_ZipCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_ZipCode</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Zip Code:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>us_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Country</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Country:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>contact_message_8</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;&quot;#FF0000&quot;&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!us_Error_Message}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>us_change_account</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Create or Modify Contact&amp;apos;s Account&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>us_Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Company</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Name to Search for:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validate_Email_address_is_Available</name>
        <label>Validate Email address is Available</label>
        <locationX>298</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_flow_email</targetReference>
        </connector>
        <fields>
            <name>validateEmailMessage_1</name>
            <fieldText>No Email was passed from the case sceen.  This process needs one in order to do a lookup.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ms_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_First_Name</elementReference>
            </defaultValue>
            <fieldText>Web Supplied First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_Last_Names</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Last_Name</elementReference>
            </defaultValue>
            <fieldText>Web Supplied Last Names</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Email</elementReference>
            </defaultValue>
            <fieldText>Web Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_Company</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Company</elementReference>
            </defaultValue>
            <fieldText>Web Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Phone</elementReference>
            </defaultValue>
            <fieldText>Web Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Address</elementReference>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_City</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_State</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_ZipCode</elementReference>
            </defaultValue>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ms_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Country</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Contact_Information</name>
        <label>Verify Contact Information</label>
        <locationX>572</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>Account_ContactVerify</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Based on the Email address the Contact does not already exist and needs to be created.   Please verify the information below is correct and it will be used to create a new contact.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The next step will help with the account attachment. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailAddress</name>
            <fieldText>&lt;/FONT&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;
&lt;TABLE BORDER=&quot;0&quot; STYLE=&quot;width:70%;&quot;&gt;
&lt;TR&gt;
&lt;TD ALIGN=right  STYLE=&quot;width:26%;&quot;&gt;&lt;B&gt;Email:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!c_Email}&lt;/TD&gt;
&lt;/TABLE&gt;
&lt;/FONT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cs_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_First_Name</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;First Name:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cs_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Last_Name</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Last Name:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cs_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Phone</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Phone:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cs_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Address</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Street:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cs_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_City</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;City:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cs_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_State</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;State:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cs_Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_ZipCode</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Zip:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cs_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Country</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Country:&lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cs_Account_to_Search_for</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>c_Company</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account to Search for:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>m1</name>
            <fieldText>Contact Record Type = {!lu_contact_Record_Type_ID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VerifyCorrectAccount</name>
        <label>VerifyCorrectAccount</label>
        <locationX>145</locationX>
        <locationY>1305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact_to_New_Account_ID</targetReference>
        </connector>
        <fields>
            <name>VerifyCorrectAcct</name>
            <fieldText>Please look at the Account information below.  If you have chosen the correct Account, please click the &quot;Next&quot; button, otherwise click &quot;Previous&quot; and modify the search to find a different Account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Information_Message</name>
            <fieldText>&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Account Information:&lt;/B&gt;&lt;/FONT&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;
&lt;TABLE BORDER=&quot;0&quot; STYLE=&quot;width:70%;&quot;&gt;
&lt;TR&gt;
&lt;TD ALIGN=right  STYLE=&quot;width:25%;&quot;&gt;&lt;B&gt;Account Name:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_Account_Name}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Description:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_Description}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Website:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_Website}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Type:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_AcctType}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Region:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_Region}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;TD&gt;&amp;nbsp;&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Street:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_Street}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;City:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_City}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;State:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_State}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Zip:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_ZIP}&lt;/TD&gt;
&lt;/TR&gt;
&lt;TR&gt;
&lt;TD ALIGN=right&gt;&lt;B&gt;Country:&amp;nbsp;&amp;nbsp;&lt;/B&gt;&lt;/TD&gt;
&lt;TD ALIGN=left&gt;&amp;nbsp;&amp;nbsp;{!a_Country}&lt;/TD&gt;
&lt;/TR&gt;
&lt;/TABLE&gt;
&lt;/FONT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Please verify that this is the correct Account to associate your new Contact to.  If it is the correct Account, please click Next.  If not, please click Back.</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>initiated_from_Case_or_Not</startElementReference>
    <textTemplates>
        <name>Message</name>
        <text>It seems that contact record being created exists in the system, please do a global search to avoid creating duplicate.</text>
    </textTemplates>
    <variables>
        <name>a_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_AcctType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_BU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_Bucket_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>001E000001HL83N</stringValue>
        </value>
    </variables>
    <variables>
        <name>a_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_PIC_Acct_RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>a_PIC_Acct_RTC</elementReference>
        </value>
    </variables>
    <variables>
        <name>a_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_SE_Americas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_SE_Asia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_SE_EMEA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>a_ZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>First name from case</description>
        <name>c_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>c_ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CC_default_value1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>XX</stringValue>
        </value>
    </variables>
    <variables>
        <name>co_New_Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_mailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_lookup_ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>i_unique_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lu_account_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lu_contact_Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>us_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
