flows/Sample_Request-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>984</locationX>
        <locationY>2149</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error IND Sample Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>michael_ludwig@te.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_default_PjM</name>
        <label>Assign default PjM</label>
        <locationX>1698</locationX>
        <locationY>2637</locationY>
        <assignmentItems>
            <assignToReference>varPjMID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005E0000002HaAx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sample_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sample_Request_Record_Type_Name</name>
        <label>Assign Sample Request Record Type Name</label>
        <locationX>862</locationX>
        <locationY>1733</locationY>
        <assignmentItems>
            <assignToReference>varSampleRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCAO_Sample_Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Sample_record_type_name_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sample_Request_Record_Type_Name_0</name>
        <label>Assign Sample Request Record Type Name</label>
        <locationX>1096</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>varSampleRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Intercontec_Sample_Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Sample_record_type_name_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Role_ID</name>
        <label>Assign User Role ID</label>
        <locationX>393</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>varPurchRoleID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00EE0000000z4WB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngRoleID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00EE0000000xFvQ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Opp_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eng_exists</name>
        <label>Eng exists</label>
        <locationX>45</locationX>
        <locationY>2352</locationY>
        <assignmentItems>
            <assignToReference>varCountEng</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEngUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varsobTeamMember.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Purch_exists</name>
        <label>Purch exists</label>
        <locationX>211</locationX>
        <locationY>2369</locationY>
        <assignmentItems>
            <assignToReference>varCountPurch</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPurchUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varsobTeamMember.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conBlankLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt; &lt;/br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Cable_Assy</name>
        <label>Check Cable Assy</label>
        <locationX>610</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Cable_Assy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cable Assembly - New Dev</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cable Assembly - Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_status</targetReference>
            </connector>
            <label>Is Cable Assy</label>
        </rules>
        <rules>
            <name>Is_Not_Cable_Assy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cable Assembly - Extension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cable Assembly - New Dev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Cable_Assy</targetReference>
            </connector>
            <label>Is Not Cable Assy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Eng_and_Purch_exist</name>
        <label>Check Eng and Purch exist</label>
        <locationX>713</locationX>
        <locationY>2264</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Purch_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountPurch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountEng</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Purchasing</targetReference>
            </connector>
            <label>Purch does not exist</label>
        </rules>
        <rules>
            <name>Eng_and_Purch_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountEng</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountPurch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Team_Members</targetReference>
            </connector>
            <label>Eng and Purch does not exist</label>
        </rules>
        <rules>
            <name>Eng_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountEng</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountPurch</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Engineering</targetReference>
            </connector>
            <label>Eng does not exist</label>
        </rules>
        <rules>
            <name>Both_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountEng</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountPurch</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Sample_Request</targetReference>
            </connector>
            <label>Both exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IC_Opp_Parts</name>
        <label>Check IC Opp Parts</label>
        <locationX>1090</locationX>
        <locationY>1374</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contains_IC_opp_Parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varscOppParts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sample_Request_Record_Type_Name_0</targetReference>
            </connector>
            <label>contains IC opp Parts</label>
        </rules>
        <rules>
            <name>does_not_contain_IC_opp_parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varscOppParts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_opp_parts_screen</targetReference>
            </connector>
            <label>does not contain IC opp parts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IND_Eng_Opp</name>
        <label>Check IND Eng Opp</label>
        <locationX>612</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>no_valid_opp_for_sample_request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IND_Engineering_project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Cable_Assy</targetReference>
            </connector>
            <label>is Eng</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Intercontec</name>
        <label>Check Intercontec</label>
        <locationX>608</locationX>
        <locationY>1377</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varICCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>look_up_opp_parts</targetReference>
            </connector>
            <label>Is IC</label>
        </rules>
        <rules>
            <name>is_not_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varICCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IND_Eng_Opp</targetReference>
            </connector>
            <label>is not IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_status</name>
        <label>Check Quote status</label>
        <locationX>612</locationX>
        <locationY>1725</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Quote_attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote attached</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sample_Request_Record_Type_Name</targetReference>
            </connector>
            <label>Quote attached</label>
        </rules>
        <rules>
            <name>Quote_required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQuoteStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoG0</targetReference>
            </connector>
            <label>Quote required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sample_Type</name>
        <label>Check Sample Type</label>
        <locationX>1099</locationX>
        <locationY>1830</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CCAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSampleRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCAO_Sample_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Role_ID</targetReference>
            </connector>
            <label>CCAO</label>
        </rules>
        <rules>
            <name>IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSampleRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intercontec_Sample_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Sample_Request_0</targetReference>
            </connector>
            <label>IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_TeamMember</name>
        <label>check TeamMember</label>
        <locationX>104</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Purchasing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varsobTeamMember.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchasing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purch_exists</targetReference>
            </connector>
            <label>Check Purchasing</label>
        </rules>
        <rules>
            <name>Check_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varsobTeamMember.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eng_exists</targetReference>
            </connector>
            <label>Check Eng</label>
        </rules>
    </decisions>
    <decisions>
        <name>PjM_check</name>
        <label>PjM check</label>
        <locationX>1690</locationX>
        <locationY>2511</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PjM_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPjMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sample_Request</targetReference>
            </connector>
            <label>PjM exists</label>
        </rules>
        <rules>
            <name>PjM_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPjMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_default_PjM</targetReference>
            </connector>
            <label>PjM does not exist</label>
        </rules>
    </decisions>
    <description>added error mail</description>
    <dynamicChoiceSets>
        <name>ChooseEngUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Role_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEngRoleID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varEngUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoosePurchUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Role_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPurchRoleID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPurchUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>forSampleRequestName</name>
        <dataType>String</dataType>
        <expression>&quot;Sample Request Opp Number&quot; &amp;&quot; &quot;&amp; {!varOppNumber}</expression>
    </formulas>
    <interviewLabel>Sample Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IND Sample Request</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>384</locationX>
        <locationY>2267</locationY>
        <assignNextValueToReference>varsobTeamMember</assignNextValueToReference>
        <collectionReference>varcTeamMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_TeamMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Eng_and_Purch_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opp_Team_Eng</name>
        <label>Create Opp Team Eng</label>
        <locationX>371</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Generate_Sample_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Engineering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varEngUserId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sample_Request</name>
        <label>Create Sample Request</label>
        <locationX>1434</locationX>
        <locationY>2575</locationY>
        <assignRecordIdToReference>varReqID</assignRecordIdToReference>
        <connector>
            <targetReference>Sample_Request_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_may_be_contacted_directly__c</field>
            <value>
                <elementReference>Customer_may_be_contacted_directly_for_any_questions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering__c</field>
            <value>
                <elementReference>varEngUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_sample_for_show_and_tell_not_fun__c</field>
            <value>
                <elementReference>Is_the_sample_for_show_and_tell_not_functional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_sample_needed_for_validation_fun__c</field>
            <value>
                <elementReference>Is_the_sample_needed_for_validation_functional_sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forSampleRequestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>varPjMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchasing__c</field>
            <value>
                <elementReference>varPurchUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSampleRequestRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Delivery_Date__c</field>
            <value>
                <elementReference>Requested_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_address_available__c</field>
            <value>
                <elementReference>Shipping_address_available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Packaging_required__c</field>
            <value>
                <elementReference>Special_Packaging_required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Test_Requirements__c</field>
            <value>
                <elementReference>Special_Test_Requirments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_Documentation_is_needed__c</field>
            <value>
                <elementReference>What_Documentation_is_needed</elementReference>
            </value>
        </inputAssignments>
        <object>Sample_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sample_Request_0</name>
        <label>Create Sample Request</label>
        <locationX>1515</locationX>
        <locationY>1831</locationY>
        <assignRecordIdToReference>varReqID</assignRecordIdToReference>
        <connector>
            <targetReference>Sample_Request_IC_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Sample_Request_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intercontec_Inside_Sales__c</field>
            <value>
                <elementReference>varICInsideSalesUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intercontec_Sample_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forSampleRequestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSampleRequestRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Delivery_Date__c</field>
            <value>
                <elementReference>Requested_Delivery_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Enter_Shipping_Address_Must_be_a_TE_location</elementReference>
            </value>
        </inputAssignments>
        <object>Sample_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateOppTeamEng</name>
        <label>CreateOppTeamEng</label>
        <locationX>831</locationX>
        <locationY>2628</locationY>
        <connector>
            <targetReference>CreateOppTeamPurch</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Engineering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varEngUserId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>CreateOppTeamPurch</name>
        <label>CreateOppTeamPurch</label>
        <locationX>830</locationX>
        <locationY>2779</locationY>
        <connector>
            <targetReference>Generate_Sample_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Purchasing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varPurchUserID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>look_up_opp_parts</name>
        <label>look up opp parts</label>
        <locationX>861</locationX>
        <locationY>1371</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_IC_Opp_Parts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>CBC5_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>40542</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Part__c</object>
        <outputReference>varscOppParts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Opp_Team_Member</name>
        <label>Look Up Opp Team Member</label>
        <locationX>1433</locationX>
        <locationY>2472</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PjM_check</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Manager (PjM)</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>varPjMID</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_IC_Inside_Sales_from_Opp_Team</name>
        <label>Lookup IC Inside Sales from Opp Team</label>
        <locationX>1318</locationX>
        <locationY>1722</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sample_Request_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside Sales Intercontec</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>varICInsideSalesUser</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Team_Member</name>
        <label>Lookup Opp Team Member</label>
        <locationX>384</locationX>
        <locationY>2128</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>varcTeamMember</outputReference>
        <queriedFields>TeamMemberRole</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote_status_and_IC_check</name>
        <label>Lookup Quote status and IC check</label>
        <locationX>606</locationX>
        <locationY>1259</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_record_type_name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varICCheck</assignToReference>
            <field>Intercontec_Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppNumber</assignToReference>
            <field>Opportunity_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuoteStatus</assignToReference>
            <field>Quote_attached__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRequestType</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Team_Members</name>
        <label>Add Team Members</label>
        <locationX>831</locationX>
        <locationY>2480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateOppTeamEng</targetReference>
        </connector>
        <fields>
            <name>NoTeammembers</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The opportunity does not contain opportunity team members with the roles Purchasing and Engineering. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;For sample requests, the opportunity must have one opportunity team member &amp;apos;Purchasing&amp;apos; and one team member &amp;apos;Engineering&amp;apos;, otherwise a sample request cannot be routed.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChooeseEngUser</name>
            <choiceReferences>ChooseEngUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Choose Engineering User from the CCAO Team&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChoosePurUser</name>
            <choiceReferences>ChoosePurchUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Choose Purchasing User from the CCAO Team&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Engineering</name>
        <label>Create Engineering</label>
        <locationX>363</locationX>
        <locationY>2474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opp_Team_Eng</targetReference>
        </connector>
        <fields>
            <name>CreateEngineering</name>
            <fieldText>The Opportunity Team does not contain an Engineering Team Member.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChooseEngineering</name>
            <choiceReferences>ChooseEngUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please choose an Engineering user from the CCAO Team&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Purchasing</name>
        <label>Create Purchasing</label>
        <locationX>564</locationX>
        <locationY>2475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateOppTeamPurch</targetReference>
        </connector>
        <fields>
            <name>CreatePurchasing</name>
            <fieldText>The Opportunity Team does not contain a Purchasing Team Member.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoosePurchasing</name>
            <choiceReferences>ChoosePurchUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please add a member from the CCAO Purchasing Team&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>284</locationX>
        <locationY>1399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>debugging</name>
            <fieldText>{!varOppID}

{!varOppRecordTypeID}

{!varOppRecordTypeName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Fault</name>
        <label>Display Fault</label>
        <locationX>1256</locationX>
        <locationY>2136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Displayfaultmessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_Sample_Request</name>
        <label>Generate Sample Request</label>
        <locationX>1431</locationX>
        <locationY>2231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Look_Up_Opp_Team_Member</targetReference>
        </connector>
        <fields>
            <name>Howmanysamples</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;How many samples are required ?&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_may_be_contacted_directly_for_any_questions</name>
            <dataType>Boolean</dataType>
            <fieldText>Customer may be contacted directly for any questions</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please check this box if you want to allow Engineering to contact the customer directly in case of any questions.&lt;/FONT&gt;&lt;/SPAN&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequestDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;-----------------------------------------------------------------------------&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sample Request Checklist&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Special_Test_Requirments</name>
            <dataType>Boolean</dataType>
            <fieldText>Special Test Requirements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requested_Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Requested Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_Documentation_is_needed</name>
            <fieldText>What Documentation is needed ?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_the_sample_for_show_and_tell_not_functional</name>
            <dataType>Boolean</dataType>
            <fieldText>Is the sample for show and tell (not functional ) ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_the_sample_needed_for_validation_functional_sample</name>
            <dataType>Boolean</dataType>
            <fieldText>Is the sample needed for validation (functional sample) ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Can_alternative_wire_cable_available_in_the_sample_shop_be_used</name>
            <dataType>Boolean</dataType>
            <fieldText>Can alternative wire/cable available in the sample shop be used ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Can_alternative_components_available_in_the_sample_shop_be_used</name>
            <dataType>Boolean</dataType>
            <fieldText>Can alternative components available in the sample shop be used ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Special_Packaging_required</name>
            <dataType>Boolean</dataType>
            <fieldText>Special Packaging required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_address_available</name>
            <dataType>Boolean</dataType>
            <fieldText>Shipping address available</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Remarks_to_the_above_Checklist</name>
            <fieldText>Remarks to the above Checklist</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_Sample_Request_0</name>
        <label>Generate Sample Request</label>
        <locationX>1312</locationX>
        <locationY>1832</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_IC_Inside_Sales_from_Opp_Team</targetReference>
        </connector>
        <fields>
            <name>Howmanysamples_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;How many samples are required ?&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sample_Request_Details</name>
            <fieldText>Sample Request Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Requested_Delivery_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Requested Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Shipping_Address_Must_be_a_TE_location</name>
            <fieldText>Enter Shipping Address (Must be a TE location !!)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Cable_Assy</name>
        <label>No Cable Assy</label>
        <locationX>879</locationX>
        <locationY>1625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noassy</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This opportunity is not of request type &amp;apos;Cable Assembly&amp;apos;.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!conBlankLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If you have set the request type by mistake, please correct it and request the samples again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!conBlankLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You can close this window now. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>no_opp_parts_screen</name>
        <label>no opp parts screen</label>
        <locationX>1098</locationX>
        <locationY>1240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noicparts</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your opportunity is flagged as Intercontec but does not contain any Intercontec parts.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!conBlankLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please add at least one Intercontec part and start the sample process again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!conBlankLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;For any questions contact your Salesforce Administrator.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>no_valid_opp_for_sample_request</name>
        <label>no valid opp for sample request</label>
        <locationX>864</locationX>
        <locationY>1492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>novalidoppmessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The button for sample requests is only valid for:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!conBlankLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;- Opportunities with Intercontec parts&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;- Cable Assembly Engineering Opportunities&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!conBlankLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;For any questions contact your Salesforce Administrator.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!conBlankLine}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You can close this window now.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoG0</name>
        <label>NoQuote</label>
        <locationX>390</locationX>
        <locationY>1726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>G0notachieved</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This opportunity has no quote attached yet, therefore you cannot request samples at this point.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please contact the responsible Product Manager or Project Manager (found in the Opportunity Team).&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You can close this window now.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sample_Request_Created</name>
        <label>Sample Request Created</label>
        <locationX>1436</locationX>
        <locationY>2724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestCreated</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Sample Request has been created.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An email with the link to the sample request and the opportunity has been sent to the Engineering and Purchasing Team. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Should you have requested more than 10 samples, the request will be routed to the Project Manager for this opportunity for approval first. You will be notified when approved.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You will be notified when the Sample Request is marked as &amp;apos;completed&amp;apos;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can close this window now.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sample_Request_IC_created</name>
        <label>Sample Request IC created</label>
        <locationX>1713</locationX>
        <locationY>1830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SamplerequestICcreated</name>
            <fieldText>Your Sample Request has been created.

You will be notified when the Sample Request is marked as &apos;completed&apos;.

The Sample Request can be found in the related list &apos;SampleRequests&apos; at the bottom of the opportunity.


You can close this window now.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Quote_status_and_IC_check</startElementReference>
    <subflows>
        <name>Retrieve_record_type_name</name>
        <label>Retrieve record type name</label>
        <locationX>396</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Check_Intercontec</targetReference>
        </connector>
        <flowName>IND_Record_Type_Lookup</flowName>
        <inputAssignments>
            <name>varRecordTypeId</name>
            <value>
                <elementReference>varOppRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOppRecordTypeName</assignToReference>
            <name>varRecordTypeDeveloperName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Retrieve_Sample_record_type_name_0</name>
        <label>Retrieve Sample record type name</label>
        <locationX>1096</locationX>
        <locationY>1729</locationY>
        <connector>
            <targetReference>Check_Sample_Type</targetReference>
        </connector>
        <flowName>IND_Record_Type_Lookup</flowName>
        <inputAssignments>
            <name>varRecordTypeDeveloperName</name>
            <value>
                <elementReference>varSampleRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varSampleRequestRecordTypeID</assignToReference>
            <name>varRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <text>Datetime: {!$Flow.CurrentDateTime}
Error: {!$Flow.FaultMessage}


Eng Count {!varCountEng}
Purch Count {!varCountPurch}
EngRoleID: {!varEngRoleID}
EngUserID: {!varEngUserId}
ICCheck: {!varICCheck}
IC Inside Sales User: {!varICInsideSalesUser}
Opp ID: {!varOppID}
Opp Number: {!varOppNumber}
Opp Record Type ID: {!varOppRecordTypeID}
Opp Record Type Name: {!varOppRecordTypeName}
PJM ID: {!varPjMID}
Purchasing Role ID: {!varPurchRoleID}
Purch User ID: {!varPurchUserID}
Reg PM AP: {!varRegionalPMAP}
Reg PM EMEA: {!varRegionalPMEMEA}
Reg PM India: {!varRegionalPMIndia}
Reg PM Japan: {!varRegionalPMJapan}
Reg PM US: {!varRegionalPMUS}
Req ID: {!varReqID}
Request Type: {!varRequestType}
Sample Record Type Name{!varSampleRecordTypeName}
SampleRequestRecordTypeID: {!varSampleRequestRecordTypeID}</text>
    </textTemplates>
    <variables>
        <name>varCountEng</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountPurch</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varcTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varEngRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEngUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varICCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varICInsideSalesUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPjMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPurchRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPurchUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegionalPMAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegionalPMEMEA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegionalPMIndia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegionalPMJapan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegionalPMUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReqID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSampleRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSampleRequestRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varscOppParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Part__c</objectType>
    </variables>
    <variables>
        <name>varsobTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
