flows/Task_Date_Update_On_Opportunity-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignMinDate</name>
        <label>AssignMinDate</label>
        <locationX>333</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>MinDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskloopVariable.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTask</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ADMRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120L00000068Ey</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Find_Min_Date</name>
        <label>Find Min Date</label>
        <locationX>331</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>LoopTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Min_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TaskloopVariable.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MinDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MinDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignMinDate</targetReference>
            </connector>
            <label>Min Date</label>
        </rules>
    </decisions>
    <interviewLabel>Task Date Update On Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Date Update On Opportunity</label>
    <loops>
        <name>LoopTask</name>
        <label>LoopTask</label>
        <locationX>139</locationX>
        <locationY>222</locationY>
        <assignNextValueToReference>TaskloopVariable</assignNextValueToReference>
        <collectionReference>VarTaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Min_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OpportuntiyTaskDateUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Task</name>
        <label>Task</label>
        <locationX>140</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopTask</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>VarTaskCollection</outputReference>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>OpportuntiyTaskDateUpdate</name>
        <label>OpportuntiyTaskDateUpdate</label>
        <locationX>135</locationX>
        <locationY>342</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADMRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADM_Task_Due_date__c</field>
            <value>
                <elementReference>MinDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Task</startElementReference>
    <variables>
        <name>MinDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskloopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All Task related to Opportunity</description>
        <name>VarTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
