flows/Tender_Avg_Cars_2-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Increase_Counter</name>
        <label>Increase Counter</label>
        <locationX>376</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Counter</name>
        <label>Reset Counter</label>
        <locationX>919</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>807</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Less_Than_Lifetime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varLifetime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Winning_Companies_Lookup</targetReference>
            </connector>
            <label>Less Than Lifetime</label>
        </rules>
        <rules>
            <name>Equals_Lifetime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLifetime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Counter</targetReference>
            </connector>
            <label>Equals Lifetime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_exist_Check</name>
        <label>Records exist Check</label>
        <locationX>556</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcAverageCars</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_all_average_car_records</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
        <rules>
            <name>No_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcAverageCars</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter</targetReference>
            </connector>
            <label>No Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Winning_Companies_exist</name>
        <label>Winning Companies exist ?</label>
        <locationX>379</locationX>
        <locationY>875</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>varcWinning_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcWinningCompanies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Average_Car_2</targetReference>
            </connector>
            <label>varcWinning is null</label>
        </rules>
        <rules>
            <name>varcWinning_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcWinningCompanies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_records</targetReference>
            </connector>
            <label>varcWinning is not null</label>
        </rules>
    </decisions>
    <formulas>
        <name>forFiscalMonth</name>
        <dataType>Number</dataType>
        <expression>IF
(
MOD({!varFiscalMonthStart}+{!varCounter},12)=0,12,MOD({!varFiscalMonthStart}+{!varCounter},12))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forFiscalYear</name>
        <dataType>Number</dataType>
        <expression>{!varStartYear}+(CEILING(({!varFiscalMonthStart}+{!varCounter})/12)-1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Tender Avg Cars 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tender Avg Cars 2</label>
    <loops>
        <name>Create_records</name>
        <label>Create records</label>
        <locationX>381</locationX>
        <locationY>694</locationY>
        <assignNextValueToReference>varsWinningCompanies</assignNextValueToReference>
        <collectionReference>varcWinningCompanies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Average_Car</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Increase_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Average_Car</name>
        <label>Create Average Car</label>
        <locationX>570</locationX>
        <locationY>617</locationY>
        <connector>
            <targetReference>Create_records</targetReference>
        </connector>
        <inputAssignments>
            <field>Cars__c</field>
            <value>
                <elementReference>varAverageCars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Month__c</field>
            <value>
                <elementReference>forFiscalMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Year__c</field>
            <value>
                <elementReference>forFiscalYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary__c</field>
            <value>
                <elementReference>varsWinningCompanies.Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tender__c</field>
            <value>
                <elementReference>varTender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Winning_Company__c</field>
            <value>
                <elementReference>varsWinningCompanies.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Tender_Average_Car__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Average_Car_2</name>
        <label>Create Average Car 2</label>
        <locationX>103</locationX>
        <locationY>748</locationY>
        <connector>
            <targetReference>Increase_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>Cars__c</field>
            <value>
                <elementReference>varAverageCars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Month__c</field>
            <value>
                <elementReference>forFiscalMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Year__c</field>
            <value>
                <elementReference>forFiscalYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tender__c</field>
            <value>
                <elementReference>varTender</elementReference>
            </value>
        </inputAssignments>
        <object>Tender_Average_Car__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_average_car_records</name>
        <label>Delete all average car records</label>
        <locationX>835</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
        <inputReference>varcAverageCars</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>look_up_all_average_car_records</name>
        <label>look up all average car records</label>
        <locationX>914</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_exist_Check</targetReference>
        </connector>
        <filters>
            <field>Tender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTender</elementReference>
            </value>
        </filters>
        <object>Tender_Average_Car__c</object>
        <outputReference>varcAverageCars</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Winning_Companies_Lookup</name>
        <label>Winning Companies Lookup</label>
        <locationX>551</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Winning_Companies_exist</targetReference>
        </connector>
        <filters>
            <field>Bidding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTender</elementReference>
            </value>
        </filters>
        <object>Tender_Bidding_Companies__c</object>
        <outputReference>varcWinningCompanies</outputReference>
        <queriedFields>Partner__c</queriedFields>
        <queriedFields>Primary__c</queriedFields>
    </recordLookups>
    <startElementReference>look_up_all_average_car_records</startElementReference>
    <variables>
        <name>varAverageCars</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varcAverageCars</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tender_Average_Car__c</objectType>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varcWinningCompanies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tender_Bidding_Companies__c</objectType>
    </variables>
    <variables>
        <name>varFiscalMonthStart</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLifetime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStartYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varsWinningCompanies</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tender_Bidding_Companies__c</objectType>
    </variables>
    <variables>
        <name>varTender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWinningCompanies</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tender_Average_Car__c</objectType>
    </variables>
</Flow>
